
// 페이지 가운데 정렬
.cate-wrap,
.new-items,
.reco-wrap,
.farm,
.review-wrap{
  max-width: 1440px;
  margin: 0 auto;
  @media screen and (max-width: $bp-mobile) {
    padding: 0 20px;
  }
}
@media screen and (max-width: $bp-mobile) {
  .best-item{
    padding: 0 20px;
  }
}

// section 사이 여백
.new-items,
.best-item,
.farm,
.review{
  margin-top: 150px;
  @media screen and (max-width: $bp-mobile) {
    margin-top: 100px;     
  }
}
.localfood,
.recommend{
  margin-top: 210px;
  @media screen and (max-width: $bp-mobile) {
    margin-top: 160px;     
  }
}

// 타이틀 글자 기본 설정
h2{
  margin-bottom: 15px;
  @media screen and (max-width: $bp-mobile) {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
.title,
.tit-txt{
  text-align: center;
  @media screen and (max-width: $bp-mobile) {
    text-align: left;
  }
}
.tit-txt{
  font-size: 20px;
  color: $txt-secondary;
  @media screen and (max-width: $bp-mobile) {
    font-size: 16px;
  }
}

// 메인 슬라이드 배너
.mian-slide{
  position: relative;
  height: auto;
}
.main-slide-wrap{
  width: 100%;
  height: 420px;
  @media screen and (max-width: $bp-mobile) {
    height: 500px;
  }
  .main-slide{
    opacity: .5;
    transition: all .4s ease-in-out;
    @media screen and (max-width: $bp-mobile) {
      opacity: 1;
    }
    .main-img{
      width: 100%;
      height: 100%;
      border-radius: 20px;
      border: 1px solid $line;
      &.bnr01{
        background: url(/images/main/main-bnr01.jpg) center center / cover;
      }
      &.bnr02{
        background: url(/images/main/main-bnr02.jpg) center center / cover;
      }
      &.bnr03{
        background: url(/images/main/main-bnr03.jpg) center center / cover;
      }
      &.bnr04{
        background: url(/images/main/main-bnr04.jpg) center center / cover;
      }
      &.bnr05{
        background: url(/images/main/main-bnr05.jpg) center center / cover;
      }
      @media screen and (max-width: $bp-tablet) {
        &.bnr01{
          background: url(/images/main/main-bnr01-t.jpg) center center / cover;
        }
      }
      @media screen and (max-width: $bp-mobile) {
        border-radius: 0;
        border: none;
        &.bnr01{
          background: url(/images/main/main-bnr01-m.jpg) center center / cover;
        }
        &.bnr02{
          background: url(/images/main/main-bnr02-m.jpg) center center / cover;
        }
        &.bnr03{
          background: url(/images/main/main-bnr03-m.jpg) center center / cover;
        }
        &.bnr04{
          background: url(/images/main/main-bnr04-m.jpg) center center / cover;
        }
        &.bnr05{
          background: url(/images/main/main-bnr05-m.jpg) center center / cover;
        }
      }
    }
  }
  &.swiper-backface-hidden .swiper-slide {
    transform: scale(.93) translateZ(0);
    @media screen and (max-width: $bp-mobile) {
      transform: scale(1);
    }
  }
  &.swiper-backface-hidden .swiper-slide.swiper-slide-active {
    transform: scale(1) translateZ(0);
  }
  .swiper-slide.swiper-slide-active {  
    opacity: 1;
  }
  .swiper-pagination-bullet{
    margin-right: 6px;
    width: 15px;
    height: 8px;
    background: $w;
    border-radius: 25px;
    border: 1px solid $line;
    opacity: .8;
  }
  .swiper-pagination-bullet-active{
    width: 40px;
    height: 8px;
    background: $primary;
    border-radius: 25px;
    border: none;
  }
  @media screen and (max-width: $bp-mobile) {
    .swiper-pagination{
      transform: scale(.9);
      position: absolute;
      bottom: 25px;
    }
  }
}
// 모바일 카테고리
.mo-category{
  display: none;
  @media screen and (max-width: $bp-mobile) {
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 240px;
    left: 0;
    width: 100%;
    height: auto;
    .cate-wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 20px 0 20px;
      background: $w;
      border-radius: 15px 15px 0;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, .03);
      .icon-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
      .icon{
        padding: 15px;
        background: $bg-light;
        border-radius: 50%;
        .icon-img{
          width: 25px;
          height: 25px;
          &.vegi{
            background: url(/images/comm/icon-ctr1.png) center center / cover;
          }
          &.meat{
            background: url(/images/comm/icon-ctr5.png) center center / cover;
          }
          &.fish{
            background: url(/images/comm/icon-ctr2.png) center center / cover;
          }
          &.processed{
            background: url(/images/comm/icon-ctr4.png) center center / cover;
          }
          &.present{
            background: url(/images/comm/icon-ctr6.png) center center / cover;
          }
        }
      }
      p{
        font-size: 12px;
      }
    }
  }
}

// 신상품
.new-items{
  position: relative;
  @media screen and (max-width: $bp-mobile) {
    margin-top: 150px;
    overflow: hidden;
  }
  .new-slide{
    width: 100%;
    margin-top: 60px;
    @media screen and (max-width: $bp-mobile) {
      margin: 24px -20px 0 0;
      overflow: visible;
      &::after{
        content: '';
        width: 100%;
        height: 100%;
        background: $w;
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }
  .new-thumbnail{
    position: relative;
    margin-bottom: 20px;
    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 10px;
    }
    .new-anchor{
      img{
        width: 100%;
        border-radius: 10px;
      }
      p{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 30px;
        background-color: $point;
        color: $w;
        font-weight: 600;
        border-radius: 10px 0 10px 0;
        @media screen and (max-width: $bp-mobile) {
          font-size: 14px;
          width: 54px;
          height: 25px;
        }
      }
    }
    .cart{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      position: absolute;
      bottom: 15px;
      right: 15px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      cursor: pointer;
      img{
        width: 25px;
        height: 25px;
      }
      @media screen and (max-width: $bp-mobile) {
        width: 35px;
        height: 35px;
        right: 10px;
        img{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .desc{
    .txt{
      color: $txt-disabled;
    }
    .tit{
      margin: 15px 0 7px 0;
      font-size: 20px;
      font-weight: 600;
    }
    .price{
      font-weight: 600;
      .amount{
        font-size: 26px;
      }
      .won{
        font-size: 20px;
      }
    }
    @media screen and (max-width: $bp-mobile) {
      .txt{
        font-size: 13px;
      }
      .tit{
        margin: 10px 0 5px 0;
        font-size: 16px;
      }
      .price{
        .amount{
          font-size: 16px;
        }
        .won{
          font-size: 16px;
        }
      }
    }
  }
}

// 로컬푸드
.localfood{
  .video-wrap{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 650px;
    overflow: hidden;
    @media screen and (max-width: $bp-mobile) {
      height: 600px;
    }
    .bnr-video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after{
      border-radius: inherit;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
    .txt-wrap{
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $w;
      word-break: keep-all;
      font-size: 24px;
      .tit{
        font-family: 'BMJUA';
        font-size: 96px;
        margin: 5px 0 72px 0;
      }
      .btn-more{
        color: $w;
        font-size: 24px;
        font-weight: 600;
        background: $point;
        padding: 17px 25px;
        border-radius: 50px;
      }
      @media screen and (max-width: $bp-mobile) {
        font-size: 18px;
        .tit{
          font-size: 64px;
          margin-bottom: 40px;
        }
        .btn-more{
          font-size: 18px;
          padding: 10px 20px;
        }
      }
    }
  }
}

// 베스트상품
.best-item{
  .tab-btns{
    display: flex;
    justify-content: center;
    margin: 60px 0 70px 0;
  .tab-btn{
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    color: $txt-disabled;
    padding: 10px 30px;
    margin-right: 20px;
    border: 1px solid $line;
    border-radius: 25px;
    &.active{
      color: $w;
      background: $primary;
      border: none;
      font-weight: 600;
    }
  }
  @media screen and (max-width: $bp-mobile) {
    justify-content: left;
    margin: 24px 0 20px 0;
    .tab-btn{
      font-size: 4vw;
      padding: 1.8vw 5vw;
      margin-right: 2vw;
    }
  }
}
  .best-tab{
    display: none;
    &.active{
      display: block;
    }
  }
}
// best slide
.best-tabs{
  @media screen and (max-width: $bp-mobile) {
    margin-right: -20px;
  }
}
.best-tab{
  position: relative;
  .best-slide {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    @media screen and (max-width: $bp-mobile) {
      opacity: 1;
    }
    .best-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .swiper-backface-hidden .swiper-slide {
    transform: scale(.84) translateZ(0);
    @media screen and (max-width: $bp-mobile) {
      transform: none;
    }
  }
  .swiper-backface-hidden .swiper-slide.swiper-slide-active {
    transform: scale(1) translateZ(0);
  }
  .swiper-slide.swiper-slide-active {  
      opacity: 1;
  }
}
.best-card{
  .best-thumbnail{
    position: relative;
  }
  .cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    img{
      width: 20px;
      height: 20px;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 35px;
      height: 35px;
      right: 10px;
      bottom: 10px;
      img{
        width: 20px;
        height: 20px;
      }
    }
  }
  .desc{
    text-align: left;
    .txt{
      margin: 20px 0 15px 0;
      font-size: 20px;
      color: $txt-disabled;
    }
    .tit{
      font-size: 24px;
      font-weight: 600;
    }
    .price{
      font-weight: 600;
      .amount{
        font-size: 30px;
      }
      .won{
        font-size: 24px;
      }
    }
    @media screen and (max-width: $bp-mobile) {
      .txt{
        margin: 10px 0;
        font-size: 13px;
      }
      .tit{
        font-size: 16px;
      }
      .price{
        .amount{
          font-size: 16px;
        }
        .won{
          font-size: 16px;
        }
      }
    }
  }
}

// 추천상품
.recommend{
  background: $bg-light;
  padding: 60px 0 60px 0;
  overflow: hidden;
}
.reco-wrap {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% auto;
  @media screen and (max-width: $bp-tablet) {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 24px;
  }
  .title{
    z-index: 2;
    text-align: left;
    p{
      font-size: 20px;
      color: $txt-secondary;
    }
    @media screen and (max-width: $bp-tablet) {
      grid-column: 1;
    }
  }
  .reco-slide-wrap{
    @media screen and (max-width: $bp-tablet) {
      grid-column: 1;
      grid-row: 2;
    }
    .reco-slide {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: visible;
      &::after{
        content: '';
        width: 100%;
        height: 100%;
        background: $bg-light;
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
      .swiper-slide {
        display: flex;
        width: 80%;
        @media screen and (max-width: $bp-tablet) {
          width: 95%;
        }
        .card-img{
          border-radius: 10px;
        }
        .card-img::before{
          border-radius: inherit;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 60%;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
          z-index: 1;
          @media screen and (max-width: $bp-tablet) {
            height: 85%;
          }
        }
        img {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }
      }
      .card-txt{
        z-index: 1;
        color: $w;
        position: absolute;
        left: 25px;
        bottom: 25px;
        .hash{
          font-size: 20px;
        }
        .txt{
          font-size: 30px;
          font-weight: 600;
        }
        @media screen and (max-width: $bp-mobile) {
          left: 15px;
          bottom: 15px;
          .hash{
            font-size: 14px;
          }
          .txt{
            font-size: 18px;
          }
        }
      }
    }
  }
  .swiper-pagination{
    grid-column: 2;
    margin-top: 30px;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: left;
    @media screen and (max-width: $bp-tablet) {
      margin-top: 0;
      grid-column: 1;
      grid-row: 3;
    }
  }
  .swiper-pagination-bullet{
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background: $txt-disabled;
    border-radius: 25px;
    @media screen and (max-width: $bp-mobile) {
      margin-right: 10px;
      width: 10px;
      height: 10px;
    }
  }
  .swiper-pagination-bullet-active{
    width: 50px;
    height: 20px;
    background: $txt-secondary;
    border-radius: 25px;
    @media screen and (max-width: $bp-mobile) {
      width: 27px;
      height: 10px;
    }
  }
}


// 농가스토리
.farm{
  h2{
    margin-bottom: 30px;
    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 5px;
    }
  }
  .tab-btns{
    display: flex;
  }
  .tab-btn{
    margin-right: 35px;
    button{
      font-family: 'Pretendard-Regular';
      font-weight: 500;
      font-size: 20px;
      color: $txt-disabled;
      .line{
        display: none;
        margin: 8px 0 30px 0;
        width: 100%;
        height: 3px;
        background: $txt-default;
      }
    }
    &.active{
      button{
        color: $txt-default;
        .line{
          display: block;
        }
      }
    }
    @media screen and (max-width: $bp-mobile) {
      margin-right: 5vw;
      button{
        font-size: 15px;
        .line{
          height: 2px;
        }
      }
    }
  }
  .farm-tab{
    position: relative;
    display: none;
    margin-top: 1px;
    @media screen and (max-width: $bp-mobile) {
      margin: -5px -20px 0 -20px;
    }
    &.active{
      display: block;
    }
    .farm-img{
      width: 100%;
      height: 485px;
      border-radius: 20px;
      &.online{
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/main/farm-farm.jpg) center center / cover;
      }
      &.water{
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/main/farm-water.jpg) center center / cover;
      }
      @media screen and (max-width: $bp-mobile) {
        height: 300px;
        border-radius: 10px;
      }
    }
    .txt-wrap{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $w;
      word-break: keep-all;
      .tit{
        font-family: 'BMJUA';
        font-size: 50px;
        line-height: normal;
      }
      .txt{
        margin: 20px 0 45px 0;
        font-weight: 500;
        font-size: 20px;
      }
      .btn-more{
        color: $txt-default;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 30px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
      }
      @media screen and (max-width: $bp-tablet) {
        .tit{
          span{
            display: none;
          }
        }
      }
      @media screen and (max-width: $bp-mobile) {
        .tit{
          font-size: 24px;
          margin-bottom: 30px;
          span{
            display: none;
          }
        }
        .txt{
          display: none;
        }
        .btn-more{
          font-size: 12px;
          padding: 10px 20px;
        }
      }
    }
  }
}

// 리뷰
.review{
  background: $bg-light;
  padding: 150px 0;
  @media screen and (max-width: $bp-mobile) {
    padding: 70px 0;
  }
  .review-wrap{
    margin: 0 auto;
    .txt{
      font-size: 20px;
      @media screen and (max-width: $bp-mobile) {
        font-size: 16px;
      }
    }
  }
  .review-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    .card-wrap{
      position: relative;
      width: calc(25% - 20px);
      height: auto;
      background: $w;
      padding: 21px;
      border-radius: 10px;
      @media screen and (max-width: $bp-tablet) {
        width: calc(33.3% - 10px);
        padding: 15px;
        border: 1px solid $line;
        &.card-none{
          display: none;
        }
      }
    }
    @media screen and (max-width: $bp-mobile) {
      margin-top: 24px;
      gap: 12px;
      .card-wrap{
        width: calc(50% - 6px);
        padding: 11px;
        border: 1px solid $line;
      }
    }
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .img-big{
      width: 100%;
      height: 23vw;
      margin-bottom: 10px;
      border-radius: 5px;
      &.meat{
        background: url(/images/main/review-01.jpg) center center / cover;
      }
      &.straw{
        background: url(/images/main/review-02.jpg) center center / cover;
      }
      &.carrot{
        background: url(/images/main/review-03.jpg) center center / cover;
      }
      &.noodle{
        background: url(/images/main/review-04.jpg) center center / cover;
      }
    }
    .star{
      font-size: 24px;
      color: $point;
    }
    .desc{
      margin: 6px 0 20px 0;
    }
    .name{
      font-size: 12px;
      color: $txt-disabled;
    }
    .line{
      width: 100%;
      height: 1px;
      background: $line;
      margin: 15px 0;
    }
    .under-wrap{
      display: flex;
      align-items: center;
      .img-small{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        &.meat{
          background: url(/images/main/best-meat01.jpg) center center / cover;
        }
        &.straw{
          background: url(/images/main/new-strawberry01.jpg) center center / cover;
        }
        &.carrot{
          background: url(/images/main/new-carrot01.jpg) center center / cover;
        }
        &.noodle{
          background: url(/images/main/best-processed06.jpg) center center / cover;
        }
      }
      .product{
        font-size: 14px;
        margin-left: 17px;
      }
    }
    @media screen and (max-width: $bp-mobile) {
      .img-big{
        width: 100%;
        height: 45vw;
        margin-bottom: 7px;
      }
      .star{
        font-size: 18px;
      }
      .desc{
        margin-top: 7px;
      }
      .name{
        display: none;
      }
      .line{
        width: 100%;
        margin: 15px 0 10px 0;
      }
      .under-wrap{
        .img-small{
          width: 25px;
          height: 25px;
        }
        .product{
          font-size: 10px;
          margin-left: 5px;
        }
      }
    }
  }
  .bnr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 150px;
    margin-top: 60px;
    background: $light;
    border-radius: 10px;
    .icon{
      width: 80px;
      height: 80px;
    }
    .paper{
      background: url(../../images/main/review-icon-paper.png) center center / contain no-repeat;
    }
    p{
      font-size: 50px;
      font-family: 'BMJUA';
      span{
        color: $point;
        br{
          display: none;
        }
      }
    }
    .coin{
      background: url(../../images/main/review-icon-coin.svg) center center / contain no-repeat;
    }
    @media screen and (max-width: $bp-mobile) {
      gap: 15px;
      height: 100px;
      margin-top: 30px;
      .icon{
        width: 60px;
        height: 60px;
      }
      p{
        font-size: 24px;
        line-height: normal;
        span{
          br{
            display: block;
          }
        }
      }
    }
  }
}