// 메인 슬라이드 배너
.main-slide{
  position: relative;
  .pager{
    z-index: 1;
    .prev,
    .next{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      color: $txt-default;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      cursor: pointer;
    }
    .prev{
      position: absolute;
      top: 40%;
      left: 0;
    }
    .next{
      position: absolute;
      top: 40%;
      right: 0;
    }
  }
}
.slide-wrap{
  position: relative;
  .slide{
    margin-right: -30px;
    transform: scale(0.9);
    opacity: .4;
    transition: all .3s ease-in-out;
    a{
      // margin: 0 auto;
      width: 1105px;
      height: 420px;
      img{
        border-radius: 20px;
      }
    }
  }
  .slick-center{
    transform: scale(1);
    opacity: 1;
  }
}

// 페이지 가운데 정렬
#main{
  max-width: 1440px;
  margin: 0 auto;
}

// 타이틀 글자 기본 설정
.title,
.tit-txt{
  text-align: center;
}
.tit-txt{
  font-size: 20px;
  color: $txt-secondary;
}

// 신상품
.new-items{
  .new-card-wrap{
    width: 100%;
  }
  .slick-list {
    margin-right: -20px;
  }
  .slick-slide {
    margin-right: 20px;
  }
  .new-thumbnail{
    position: relative;
    margin-bottom: 20px;
    .new-anchor{
      img{
        width: 100%;
        border-radius: 10px;
      }
      p{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 30px;
        background-color: $point;
        color: $w;
        font-weight: 600;
        border-radius: 10px 0 10px 0;
      }
    }
    .cart{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      position: absolute;
      bottom: 15px;
      right: 15px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      cursor: pointer;
    }
  }
  .desc{
    .txt{
      color: $txt-disabled;
    }
    .tit{
      margin: 15px 0 7px 0;
      font-size: 20px;
      font-weight: 600;
    }
    .price{
      font-weight: 600;
      .amount{
        font-size: 26px;
      }
      .won{
        font-size: 20px;
      }
    }
  }
}