* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

body {
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-family: $font-family, "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
    color: $txt-default;
}

img {
    line-height: 0;
}

button {
    border: none;
    outline: none;
    background-color: inherit ;
    cursor: pointer;
}

a {
    color: $txt-default;
    text-decoration: none;

    &:link,
    &:visited,
    &:active,
    &:hover {
        text-decoration: none;
    }
}

h2 {
    font-family: 'BMJUA';
    font-size: 50px;
}

#u-skip {
    position: relative;
    z-index: 3000;
  
    a {
      position: absolute;
      top: -200px;
      left: 0;
      right: 0;
      display: inline-block;
      padding: 7px 10px 5px;
      background: #333;
      color: #fff;
      text-decoration: none;
      text-align: center;
      opacity: 0;
  
      &:focus {
        top: 0;
        opacity: 1;
        z-index: 1000;
      }
    }
  }