.service-info,
.service-board {
    max-width: 1340px;
    padding: 100px 30px;
}


.service-info {
    padding-bottom: 0;
    h2 {
        font-family: 'Pretendard-Regular';
        font-size: 50px;
        text-align: center;
        font-weight: 600;
    }
    .search-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px auto;
        padding: 40px 0;
        background-color: $brightest;
        border-radius: 10px;

        h3{
            padding: 0 0 30px 0;
            font-size: 28px;
        }
        .search-form {
            position: relative;
            width: 70%;
        }
        input {
            width: 100%;
            height: 50px;
            padding-left: 25px;
            border-radius: 100px;
            font-family: 'Pretendard-Regular';
            font-size: 16px;
            color: $txt-disabled;
            background-color: $w;
            border: none;
        }
        input:focus {
            outline: none;
        }
        .icon-search {
            position: absolute;
            top: 15px;
            right: 25px;
            width: 20px;
            height: 20px;
            background-image: url(../../images/sub2/icon_search-sub2.svg);
        }
        .search-word {
            display: flex;
            margin-top: 30px;

            strong {
                margin-right: 36px;
                color: $deep;
            }
            .word-wrap {
                display: flex;
                column-gap: 36px;
                
                p {
                    display: inline;
                }
            }
        }
    }
    .service-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid $txt-default;
        border-bottom: 2px solid $txt-default;

        .service-number {
            padding: 40px 60px;

            .number-box {
                white-space: nowrap;
            }
            > p {
                margin-bottom: 5px;
                font-size: 24px;
                font-weight: bold;
            }
            img {
                padding-right: 10px;
            }
            strong {
                font-size: 40px;
            }
            .hours-info {
                margin-top: 15px;

                p {
                    margin-top: 10px;
                    color: $txt-secondary;
                }
            }
        }
        span {
            width: 1px;
            height: 230px;
            background-color: $line;
        }
        .service-box {
            .service-box-wrap {
                display: flex;
                justify-content: space-around;
                column-gap: 26px;
                padding: 40px 60px;
                width: 100%;
            }
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .infocircle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                width: 150px;
                height: 150px;
                border-radius: 150px;
                background: $bg-light;

                &:hover {
                    background: $brightest;
                }
            }
            p {
                display: inline;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}

.service-board {
    h3 {
        padding: 0;
        font-size: 32px;
        text-align: left;
        font-weight: 400;

        span {
            color: $primary;
        }
    }
    .board-title,
    .title-wrap,
    .date-wrap {
        display: flex;
    }
    .board-title {
        align-items: center;
        column-gap: 15px;
        margin-bottom: 30px;

        a {
            display: flex;
            align-items: center;
            width: 30px;
            height: 30px;
        }
    }
    .list-wrap {
        border-top: 2px solid $txt-default;
        border-bottom: 2px solid $txt-default;
    }
    .list-box {
        padding: 30px 60px;
        border-bottom: 1px solid $line;

        a {
            display: flex;
            justify-content: space-between;
        }
    }
    .faq-board {
        margin-bottom: 100px;
    }
    .down-icon,
    .goto-icon {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .goto-icon {
        position: relative;
        top: -2px;
        width: 24px;
        height: 16px;
        background-image: url(../../images/sub2/icon_goto.png);
    }
    .down-icon {
        width: 16px;
        height: 24px;
        background-image: url(../../images/sub2/icon_down.png);
    }
    .title-wrap {
        column-gap: 10px;
    }
    .date-wrap {
        column-gap: 10px;
        text-align: right;
        font-size: 14px;
        color: $txt-disabled;
        
        p {
            display: inline;
        }
    }
    .notice-board {
        .down-icon {
            display: none;
        }
    }
    .btn-open {
        display: none;
    }
}


@media screen and (max-width: 1300px) {
    h2 {
        font-size: 40px;
    }
    .service-info {
        padding-top: 50px;
        .search-wrap {
            h3 {
                padding-bottom: 20px;
            }
            .search-word {
                .word-wrap {
                    column-gap: 20px;
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        .service-wrap {
            flex-direction: column;
            overflow: hidden;

            .service-box {
                .service-box-wrap {
                    padding: 40px;
                    column-gap: 0;
                }
            }
            .service-number{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 40px 40px;
                width: 100%;

                .service-number-wrap p {
                    font-size: 24px;
                    font-weight: bold;        
                }
                .number-box {
                    height: 50%;
                }
                .service-span1 {
                    height: 110px;
                }
                .hours-info,
                .hours-info p:first-child {
                    margin-top: 0;
                }
            }
            .service-span2 {
                width: 1200px;
                height: 1px;
            }
            .service-box {
                width: 100%;

                .infocircle {
                    width: 130px;
                    height: 130px;
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .titlearea,
    .service-info {
        position: relative;
        padding: 0;

        h2,
        h3 {
            display: none;
        }
        .search-wrap {
            margin: 0;
            padding: 0 0 70px;
            border-radius: 0;

            .search-form {
                padding: 0 16px;
                width: 100%;
            }
            .icon-search {
                right: 33px;
            }
            input {
                font-size: 14px;
            }
            .search-word {
                display: none;
            }
        }
        .service-btn-wrap {
            display: flex;
            justify-content: space-between;
            padding: 20px 40px;
            width: 100%;

            .service-btn {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .bg-circle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                width: 70px;
                height: 70px;
                border-radius: 100px;
                background-color: $w;
            }
            p {
                text-align: center;
            }
        }
        .service-wrap {
            position: absolute;
            top: 210px;
            justify-content: center;
            z-index: 100;
            margin: 0 16px;
            padding: 22px 30px;
            width: calc(100% - 32px);
            border: 1px solid $line;
            border-radius: 10px;
            background-color: $w;
            box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.041);
            
            .service-number,
            .service-span2 {
                display: none;
            }
            .service-box {
                .service-box-wrap {
                justify-content: space-between;
                padding: 0;
                column-gap: 0;
                width: 100%;
                }
                .infocircle {
                    margin: 0;
                    // padding: 27px;
                    width: 32px;
                    height: 32px;
                    background-color: transparent;
                }
                img {
                    width: 100%;
                }
                p {
                    padding-top: 10px;
                    font-size: 12px;
                    font-weight: normal;
                }
                span {
                    height: 50px;
                }
            }
        }
    }
    .service-board {
        padding: 130px 16px 70px;
        .board-title {
            margin-bottom: 10px;
        }
        .list-wrap {
            border: none;
        }
        .list-box {
            padding: 22px 5px;

            p {
                font-size: 14px;
            }
        }
        .list-box:last-child {
            border-bottom: none;
          }
        .date-wrap {
            display: none;
        }
        .notice-board {
            .down-icon {
                display: block;
            }
        }
        .down-icon {
            width: 10px;
        }
        .btn-open {
            display: block;
            margin-top: 10px;
            padding: 15px 0;
            width: 100%;
            font-size: 14px;
            text-align: center;
            border: 1px solid $line;
            border-radius: 5px;
        }
    }
}
@media screen and (max-width: $bp-mobile) {
    .service-info{
        margin-top: 60px;
    }    
}