h3 {
    padding-bottom: 100px;
    font-size: 60px;
    font-weight: lighter;
    font-family: 'BMJUA';
    text-align: center;
}

.info-tit {
    font-size: 18px;
    text-align: center;
    color: $light;
}

.info-page {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $w;
}

.info-page1 {
    background-image: url(../../images/sub1/infopage1.png);
    .info-int1 {
        font-family: 'BMJUA';
        font-size: 60px;
    }
}
.info-page2 {
    margin-bottom: 100px;
    background-image: url(../../images/sub1/infopage2.png);
    
    .info-int2 {
        font-size: 40px;
        span {
            color: $light;
        }
    }
}

.info-what {
    overflow: hidden;

    p {
        font-family: 'BMJUA';
        font-size: 100px;
        font-weight: bold;
        text-align: center;
    }
    .sub1-slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sub1-slide-inner {
        display: flex;
        width: 400px;
        height: 400px;
        margin: 0 150px;
    }
    .sub1-slide::before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 94px;
        background-image: url(../../images/sub1/sub1_slide_before.png);
    }
    .sub1-slide::after {
        content: "";
        display: inline-block;
        width: 26px;
        height: 94px;
        background-image: url(../../images/sub1/sub1_slide_after.png);
    }
    .sub1-slide-img {
        width: 100%;
        height: auto;
    }
}

.info-about {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    max-width: none;

    .info-about-img,
    .info-wrap {
        width: 50%;
    }
    .info-about-img {
        object-fit: cover;
        overflow: hidden;
    }
    .info-wrap {
        padding-left: 80px;
    }
    h3,
    .info-tit {
        text-align: left;
    }
    h3 {
        padding-bottom: 80px;
    }
    .info-about-txt {
        cursor: pointer;

        p {
            font-size: 50px;
            color: rgba(68, 68, 68, 0.3);
        }
        p:hover {
            color: $txt-default;
        }
        p:hover span {
            font-weight: bold;
        }
        span {
            position: relative;
            color: $txt-default;
        }
        span::after {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            position: absolute;
            left: 0;
            bottom: 5px;
            z-index: -100;
            background: linear-gradient(to right, #E7F4D7 0%, rgba(119, 185, 52, 0.5) 100%);
        } 
    }
}

.info-why {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;

    .info-why-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1050px;
    }
    .why-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 100px;
    }  
    .info-why-img {
        position: relative;
        width: 47%;
        height: 320px;
        background-image: url(../../images/sub1/why_bg.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .img-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .info-why-box {
        width: 50%;
        padding: 0 30px;

        .number-circle {
            margin-bottom: 45px;
            padding-top: 2px;
            width: 35px;
            height: 35px;
            border-radius: 35px;
            background: linear-gradient(to bottom right, #CCE9A8 -20%, rgba(119, 185, 52) 100%);
            font-size: 20px;
            text-align: center;
            color: $w;
        }
        strong {
            font-size: 40px;
        }
        span {
            position: relative;
        }
        span::after {
            content: "";
            position: absolute;
            left: 0;
            z-index: -100;
            width: 100%;
            height: 130%;
            background-image: url(../../images/sub1/pointline.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        p {
            margin-top: 20px;
            font-size: 18px;
            color: $txt-secondary;
        }
    }
    .box-reverse {
        display: flex;
        flex-direction: row-reverse;

    }
}

.info-fresh {
    display: flex;
    flex-direction: column;
    max-width: none;
    margin: 0;
    padding: 100px 0 0;

    .info-fresh-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-fresh-wrap > p {
        padding-top: 100px;
        font-size: 28px;
    }
    span {
        font-weight: bold;
    }
    .Route-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;
    }
    .Route-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            padding-top: 30px;
            font-size: 22px;
        }
    }
    .Route-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 250px;
        background: $bg-light;
    }
    .Route1 {
        width: 100%;
        background: linear-gradient(to bottom, #F5F5F5 50%, rgb(255, 255, 255) 100%);;
        .Route-circle {
            background: $w;
        }
    }
    .Route-icon {
        width: 100px;
        height: 100px;
    }
    .down-arrow {
        margin: 80px 0;
    }
    .icon-downarrow {
        width: 40px;
        height: 40px;
    }
    .route-txt-wrap {
            position: relative;
            p {
                padding-top: 100px;
                font-size: 28px;
            }
    }
    .icon-sparkle{
        position: absolute;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .sparkle1{
        top: 43px;
        left: -130px;
        width: 100px;
        height: 100px;
    }
    .sparkle2{
        top: 103px;
        left: 450px;
        width: 80px;
        height: 80px;
    }
}

.info-various {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: none;
    overflow: hidden;

    .info-various-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        column-gap: 20px;
    }
    .various-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 500px;
        margin: 0 15px;
        color: $w;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .txt-wrap {
        padding: 0 0 30px 30px;

        strong {
            font-size: 32px;
        }
        p {
            padding-top: 3px;
            font-size: 16px;
        }
    }
    .vb-1 {
        background-image: url(../../images/sub1/variouble_1.png);
    }
    .vb-2 {
        background-image: url(../../images/sub1/variouble_2.png);
    }
    .vb-3 {
        background-image: url(../../images/sub1/variouble_3.png);
    }
    .vb-0 {
        background-image: url(../../images/sub1/variouble_3.png);
    }
    .vb-4 {
        background-image: url(../../images/sub1/variouble_1.png);
    }
}

.info-banner {
    margin: 100px 0 0 0;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $w;
    background-image: url(../../images/sub1/sub1_banner.png);

    p {
        padding: 40px 0 60px;
        font-size: 60px;
        text-align: center;
        line-height: 75px;
        font-weight: bold;
        
    }
    .info-btn {
        a {
            display: block;
            padding: 15px 30px;
            font-size: 24px;
            border-radius: 30px;
            border: 1px solid $line;
            background: rgba(255, 255, 255, 0.8);
        }
    }
}

@media screen and (max-width: $bp-tablet) {
    .info-tit {
        font-size: 16px;
    }
    h3 {
        padding-bottom: 50px;
        font-size: 50px;
    }
    .info-page {
        height: 700px;
    }
    .info-page1 {
        .info-int1 {
            font-size: 50px;
        }
    }
    .info-page2 {
        .info-int2 {
            font-size: 30px;
        }
    }
    .info-what {
        .sub1-slide {
            justify-content: space-between;
        }
        .sub1-slide-inner {
            margin: 0;
        }
    }
    .info-about {
        h3 {
            padding-bottom: 50px;
        }
        .info-about-img {
            width: 30%;
            height: 463px;
        }
        .info-wrap {
            padding-left: 20px;
            width: 70%;
        }
        .info-about-txt p {
            font-size: 36px;
        }
    }
    .info-why {
        overflow: hidden;

        .why-box {
            flex-direction: column;
            align-items: center;
            padding-bottom: 0;
        }
        .info-why-img,
        .info-why-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            text-align: center;

            strong {
                font-size: 28px;
            }
            p {
                font-size: 16px;
                margin: 16px 0 40px;
            }
            .number-circle {
                margin: 30px 0;
            }
        }
        .info-why-img {
            width: 500px;
            height: 320px;
        }
        .info-why-box {
            width: 100%;
        }
        .img-wrap {
            padding: 60px 0;
        }
    }
    .info-fresh {
        .info-fresh-wrap {
            > p {
                font-size: 24px;
            }
        }
        .route-txt-wrap p {
            font-size: 24px;
        }
        .sparkle1 {
            top: 60px;
            left: -50px;
            width: 50px;
            height: 50px;
        }
        .sparkle2 {
            top: 130px;
            left: 360px;
            width: 40px;
            height: 40px;
        }
    }
    .info-banner {
        margin: 0;
        padding: 50px 16px;

        p {
            padding: 0 0 30px;
            font-size: 45px;
            line-height: 60px;
        }
        .info-btn {
            a {
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: $bp-mobile) {
    .info-tit {
        padding-bottom: 5px;
        font-size: 12px;
    }
    h3 {
        padding: 0 0 50px;
        font-size: 36px;
    }
    .info-page {
        height: 550px;

        .info-int1 {
            font-size: 40px;
        }
        .info-int2 {
            font-size: 20px;
        }
    }
    .info-page1 {
        margin-top: 60px;
    }
    .info-what {
        p {
            font-size: 58px;
        }
        .sub1-slide::before, 
        .sub1-slide::after {
            display: none;
        }
        .sub1-slide-inner {
            margin: 0 36px;
            height: auto;
        }
    }
    .info-about {
        flex-direction: column;
        padding: 50px 0;

        .info-about-img {
            width: 100%;
            height: 250px;
        }
        img {
            width: 100%;
        }
        .info-wrap {
            width: 100%;
            padding: 0 16px ;

            .info-tit,
            h3 {
                text-align: center;
            }
            .info-tit {
                padding-top: 50px;
            }
            h3 {
                padding: 0 0 20px;
            }
            .info-about-txt {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                p {
                font-size: 20px;
                color: $txt-disabled;
                }

                span {
                    font-weight: bold;
                }
            }
        }
    }
    .info-why {

        .info-why-img,
        .info-why-box {
            width: 100%;

            strong {
                font-size: 24px;
            }
            p {
                font-size: 14px;
                &:last-child {
                    margin-bottom: 50px;
                }
            }
            .number-circle {
                margin: 20px 0;
            }
        }
        .info-why-img {
            height: 240px;
        }
        img {
            padding: 15px;
            width: 100%;
        }
    }
    .info-fresh {
        padding: 50px 0 0;

        h3 {
            line-height: 45px;
        }
        .info-fresh-wrap > p {
            padding-top: 50px;
            font-size: 18px;
        }
        .Route-wrap {
            padding: 50px 0;

            p {
                padding-top: 20px;
                font-size: 18px;
            }
        }
        .down-arrow {
            margin: 40px 0;
        }
        .route-txt-wrap > p {
            font-size: 18px;
        }
        .sparkle1 {
            top: 40px;
            left: -30px;
            width: 50px;
            height: 50px;
        }
        .sparkle2 {
            left: 260px;
            width: 40px;
            height: 40px;
        }
    }
    .info-various {
        h3 {
            line-height: 45px;
        }
        .various-box {
            margin: 0;
        }
    }
    .info-banner {
        margin-top: 50px;

        p {
            padding: 0 0 25px 0;
            font-size: 28px;
            line-height: 40px;
        }
        .info-btn a{
            padding: 10px 30px;
            font-size: 16px;
        }
    }
}