.sub1-cont {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 100px ;
}



h3 {
    padding-bottom: 100px;
    font-size: 60px;
    font-weight: lighter;
    font-family: 'BMJUA';
    text-align: center;
}

.info-tit {
    font-size: 18px;
    text-align: center;
    color: $light;
}

.info-fage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $w;
}

.info-fage1 {
    background-image: url(../../images/sub1/infopage1.png);
    .info-int1 {
        font-size: 60px;
    }
}

.info-fage2 {
    margin-bottom: 100px;
    background-image: url(../../images/sub1/infopage2.png);
    
    .info-int2 {
        font-size: 40px;
        span {
            color: $light;
        }
    }
}


.info-what {
    p {
        font-size: 100px;
        font-weight: bold;
        text-align: center;
    }
    .sub1-slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sub1-slide-inner {
        display: flex;
        width: 400px;
        height: 400px;
        margin: 0 150px;
    }
    .sub1-slide::before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 94px;
        background-image: url(../../images/sub1/sub1_slide_before.png);
    }
    .sub1-slide::after {
        content: "";
        display: inline-block;
        width: 26px;
        height: 94px;
        background-image: url(../../images/sub1/sub1_slide_after.png);
    }
    .sub1-slide-img {
        width: 100%;
        height: auto;
    }
}

.info-about {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    max-width: none;

    .info-about-img,
    .info-wrap {
        width: 50%;
    }
    .info-about-img {
        object-fit: cover;
        overflow: hidden;
    }
    .info-wrap {
        padding-left: 80px;
    }
    h3,
    .info-tit {
        text-align: left;
    }
    h3 {
        padding-bottom: 80px;
    }
    .info-about-txt {
        p {
            font-size: 50px;
            color: rgba(68, 68, 68, 0.3);
        }
        p:hover {
            color: $txt-default;
        }
        p:hover span {
            font-weight: bold;
        }
        span {
            position: relative;
            color: $txt-default;
        }
        span::after {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            position: absolute;
            left: 0;
            bottom: 5px;
            z-index: -100;
            background: linear-gradient(to right, #E7F4D7 0%, rgba(119, 185, 52, 0.5) 100%);
        } 
    }
}

.info-why {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;

    .info-why-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1050px;
    }
    .why-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 100px;
    }  
    .info-why-img {
        width: 47%;
        height: 320px;
        background-color: aliceblue;
    }
    .info-why-box {
        width: 50%;
        padding: 0 30px;

        .number-circle {
            margin-bottom: 45px;
            padding-top: 2px;
            width: 35px;
            height: 35px;
            border-radius: 35px;
            background: linear-gradient(to bottom right, #CCE9A8 -20%, rgba(119, 185, 52) 100%);
            font-size: 20px;
            text-align: center;
            color: $w;
        }
        strong {
            font-size: 40px;
        }
        span {
            position: relative;
        }
        span::after {
            content: "";
            position: absolute;
            left: 0;
            z-index: -100;
            width: 100%;
            height: 130%;
            background-image: url(../../images/sub1/pointline.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        p {
            margin-top: 20px;
            font-size: 18px;
            color: $txt-secondary;
        }
    }
    .info-why-l {
        display: flex;
        .info-why-box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
        }
    }
}

.info-fresh {
    display: flex;
    flex-direction: column;
    max-width: none;
    margin: 0;
    padding: 100px 0 0;

    .info-fresh-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-fresh-wrap > p {
        padding-top: 100px;
        font-size: 32px;
    }
    .Route-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;
    }
    .Route-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            padding-top: 30px;
            font-size: 24px;
        }
    }
    .Route-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 250px;
        background: $bg-light;
    }
    .Route1 {
        width: 100%;
        background: $bg-light;
        .Route-circle {
            background: $w;
        }
    }
    .down-arrow {
        margin: 80px 0;
        width: 40px;
        height: 40px;
        background-color: #CCE9A8;
    }
}

.info-various {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 100px 0 0;
    max-width: none;

    .info-various-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        column-gap: 20px;
    }
    .various-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 500px;
        margin: 0 15px;
        color: $w;
        border-radius: 20px;
        background-color: #E7F4D7;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .txt-wrap {
        padding: 0 0 30px 30px;

        strong {
            font-size: 32px;
        }
        p {
            padding-top: 3px;
            font-size: 16px;
        }
    }
    .vb-1 {
        background-image: url(../../images/sub1/variouble_1.png);
    }
    .vb-2 {
        background-image: url(../../images/sub1/variouble_2.png);
    }
    .vb-3 {
        background-image: url(../../images/sub1/variouble_3.png);
    }
    .vb-0 {
        background-image: url(../../images/sub1/variouble_3.png);
    }
    .vb-4 {
        background-image: url(../../images/sub1/variouble_1.png);
    }
}

.info-banner {
    margin: 200px 0 0 0;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $w;
    background-image: url(../../images/sub1/sub1_banner.png);

    p {
        padding: 40px 0 60px;
        font-size: 60px;
        text-align: center;
        line-height: 75px;
        
    }

}