// 변수 설정
$brightest: #E7F4D7;
$light: #CCE9A8;
$primary: #77B934;
$deep: #2E7602;
$point: #FF8C00;
$bg-light: #F5F5F5;
$line: #E2E2E2;
$txt-default: #232527;
$txt-secondary: #444444;
$txt-disabled: #777777;

$w: #fff;
$b: #000;


// 폰트
$ff-default: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$ff-point:'Jua', sans-serif;


// 반응형 미디어 쿼리


// layout
