// 변수 설정
$brightest: #E7F4D7;
$light: #CCE9A8;
$primary: #77B934;
$deep: #2E7602;
$point: #FF8C00;
$bg-light: #F5F5F5;
$line: #E2E2E2;
$txt-default: #232527;
$txt-secondary: #444444;
$txt-disabled: #777777;

$w: #fff;
$b: #000;

// 브레이크 포인트
$bp-mobile: 475px;
$bp-tablet: 1024px;

$font-family: 'Pretendard-Regular';

