@import 'variables';



// contents


// .h-wrap {
//     display: flex;
// }

h1 {
    margin: auto;
}

.nav-top {
    display: flex;
}

.nav-bottom {
    display: flex;
    justify-content: space-between;
}

.depth1 li {
    display: none;
}

.depth1 {
    display: flex;
}

.cartegory {
    ul {
        display: flex;
    }
    li {
        padding: 0 27px;
    }
}

.nav-icon {
    display: flex;
    p {
        padding: 0 17px;
    }
}

@import 'main';