@import 'variables', 'fonts', 'reset';



// contents

#header {
    max-width: 1440px;
    margin: 0 auto;
    .h-wrap {
        padding: 20px 80px 10px;
    }
    .nav-top {
        display: flex;
        justify-content: flex-end;
        column-gap: 15px;
        p {
            font-size: 12px;
        }
    }
    h1 {
        display: flex;
        justify-content: center;
        margin: 10px auto 60px;
        a {
            width: 191px;
            height: 90px;            
        }
        .logo-w {
            background: url(../../images/comm/logo-web.png);
        }
        .logo-m {
            display: none;
            background: url(../../images/comm/logo-mob.png);
        }
    }
    .nav-bottom {
        position: relative;

        .lnb {
            position: absolute;
            top: -26px;
            left: -20px;
            padding: 20px;
            border: 1px solid transparent;

            lnb-d1 a::after {
                content: '';
                display: none;
                width: 100%;
                height: 100%;
                background-color: $light;
                border-radius: 20px;
            }

            lnb-d1 a:hover a::after {
                display: block;
            }
            .lnb-btn-wrap > a {
                display: flex;
                align-items: center;
                gap: 18px;
            }
            .ctr-btn {
                width: 35px;
                height: 35px;
                border-radius: 35px;
                border-top-right-radius: 0;
                background-color: $primary;
            }
            .fa-xmark {
                padding-left: 12px;
            }
            i {
                padding: 9px 11px;
            }
            p {
                font-size: 18px;
                font-family: 'BMJUA';
            }
            .lnb-menu-wrap {
                // display: flex;
                display: none;
            }
            .lnb-depth1 {
                display: flex;
                width: 420px;
                padding: 20px 30px 0;

                .depth1 {
                    position: relative;
                    width: 180px;
                    border-right: 1px solid $line;
                }
                .lnb-d1 {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    > a {
                        position: relative;
                        padding: 10px 0;
                        height: 37px;   
                        color: $txt-disabled;
                        line-height: 1;
                        z-index: 1; 
                        &::after {
                            content: "";
                            display: none;
                            position: absolute;
                            top: -1px;
                            left: -20px;
                            width: 170px;
                            height: 37px;
                            border-radius: 100px;
                            background-color: $light;
                            z-index: -1;
                        }      
                        &:hover {
                            color: $txt-default;
                            font-weight: bold;
                        }   
                        &:hover::after {
                            display: block;
                        }
                    }
                }
                .d1-wide {
                    padding: 20px 0;
                }
                .d1-first {
                    padding: 10px 0 0;
                }
                .d1-last {
                    padding: 0 0 10px;
                }
            }
            .depth2 {
                position: absolute;
                top: 15px;
                left: 220px;
                width: 180px;
                opacity: 0;

                li {
                    padding: 10px 0; 

                    a {
                        position: relative;
                        color: $txt-disabled;
                        z-index: 1;
                    
                        &::after {
                            content: "";
                            display: none;
                            position: absolute;
                            bottom: -6px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            background-color: $primary;
                            z-index: -1;
                        }      
                        &:hover {
                            color: $txt-default;
                            font-weight: bold;
                        }   
                        &:hover::after {
                            display: block;
                        }
                    }
                }
            }
            .open {
                opacity: 1;
            }
        }
        .lnb-click {
            border: 1px solid $line;
            border-radius: 25px;
            border-top-right-radius: 0;
            background-color: $w;
        }
        .lnb-click {
            border: 1px solid $line;
            border-radius: 25px;
            border-top-right-radius: 0;
            background-color: $w;
        }
        
        #gnb {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;

            ul {
                display: flex;
                align-items: center
            }
            li {
                padding: 0 25px;
            }
            span {
                display: block;
                width: 1px;
                height: 15px;
                background: $line;
            }
            .nav-local {
                color: $deep;
            }
            a:hover {
                color: $primary;
            }
        }
        .nav-icon-wrap {
            display: flex;
            column-gap: 30px;
            position: absolute;
            top: -5px;
            right: 0;
            height: 27px;

            .nav-icon {
                width: 27px;
            }
            .btn-search {
                background-image: url(../../images/comm/icon-search.png);
            }
            img {
                vertical-align: top;
            }
            
        }
    }
    #header-sub {
        .h-sub-wrap {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
            z-index: 1000;
            background: $w;
            border-bottom: 1px solid $line;
        
            .top-icon-back {
                position: absolute;
                left: 16px;
                display: flex;
                align-items: center;
            }
            p {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    @media screen and (max-width: $bp-tablet) {
        max-width: 800px;

        .h-wrap {
            padding: 20px 16px 10px;
        }
        .nav-bottom {
            .lnb {
                left: 0;
                padding-left: 0;
            }
            #gnb {
                font-size: 14px;

                li {
                    padding: 0 10px;
                }
            }
            .nav-icon-wrap {
                column-gap: 20px;
            }
        }
    }
    @media screen and (max-width: $bp-mobile) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        max-width: 475px;
        width: 100%;
        border-bottom: 1px solid $line;
        background: $w;

        .h-wrap {
            position: relative;
            padding: 10px 16px 15px;
        }
        .nav-top {
            display: none;
        }
        #logo {
            margin-bottom: 15px;
            a {
                width: 130px;
                height: 40px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .logo-w {
                display: none;
            }
            .logo-m {
                display: block;
            }
        }
        .nav-bottom {
            position: static;
            width: 100%;

            .lnb {
                top: 25px;
                left: 16px;
                width: 100%;
                padding: 0;
                border: none;

                .ctr-btn {
                    width: 30px;
                    height: 30px;
                }
                i{
                    padding: 6px 9px;
                }
                .fa-xmark {
                    padding-left: 10px;
                }
            }
            #gnb {
                ul {
                    justify-content: space-between;
                    width: 100%;
                }
                li {
                    padding: 0;
                }
                a {
                    font-size: 14px;
                }
                .nav-local {
                    font-family: 'BMJUA';
                    font-size: 15px;
                }
            }
        }
    }
}

#footer {
    width: 100%;
    background-color: $bg-light;
   
    .f-wrap {
        max-width: 1440px;
        margin: 0 auto;
        padding: 60px 80px;
        display: flex;
        justify-content: space-between;
    }
    .f-left {
        .f-top {
            ul {
            display: flex;
            gap: 30px;
            }
            a {
                font-weight: bold;
            }
        }
        .f-middle {
            p {
                font-size: 14px;
                color: $txt-disabled;
            }
            .f-m-inner {
                padding: 40px 0 20px;
            }
            .line {
                display: inline-block;
                width: 1px;
                height: 12px;
                margin: 0 3px;
                background-color: $txt-disabled;
            }
        }
        .f-bottom {
            padding-top: 60px;
            .copyright {
                font-size: 12px;
                color: $txt-secondary;
            }
        }
    }
    .f-right {
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       
       strong {
           font-size: 30px;
           font-weight: normal;
        }
        p {
            line-height: 28px;    
            font-size: 14px;    
            text-align: right;
            color: $txt-secondary;
        }
        .f-r-wrap {
            display: grid;
            justify-items: end;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
        }
        .number {
            padding: 20px 0;
            font-size: 50px;
            font-weight: bold;
            line-height: normal;
            color: $deep;
        }
    }
    @media screen and (max-width: $bp-tablet) {
        .f-wrap {
            max-width: 800px;
            padding: 60px 16px 80px;
        }
        .f-left {
            .f-top {
                ul {
                    column-gap: 0;
                    justify-content: space-between;
                }
                a {
                    font-size: 12px;
                }
            }
            .f-middle {
                p {
                    font-size: 12px;
                }
            }
        }
        .f-right {
            strong {
                font-size: 24px;
            }
            .number {
                font-size: 32px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    @media screen and (max-width: $bp-mobile) {
        .f-wrap {
            padding: 20px 16px;
            
            .f-left {
                .f-top {
                    padding-bottom: 20px;
                    border-bottom: 1px solid $line;

                    ul {
                        justify-content: space-between;
                        justify-content: flex-start;
                        gap: 20px;
                    }
                    a {
                        font-size: 12px;
                    }
                }
                .f-middle {
                    padding: 60px 0;

                    .f-m-inner {
                        padding: 0;

                        p {
                            font-size: 12px;
                        }
                    }
                    > p {
                        padding-top: 20px;
                        font-size: 12px;
                    }
                }
                .f-bottom {
                    padding: 20px 0 70px;
                    border-top: 1px solid $line;

                    .copyright {
                        font-size: 10px;
                    }
                }
            }
            .f-right {
                display: none;
            }
        }
        .m-hidden {
            display: none;
            visibility: hidden;
        }
        .m-visible {
            display: block;
            visibility: visible;
        }
    }
}

.sub-cont {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 80px ;
    @media screen and (max-width: $bp-tablet) {
        max-width: 800px;
        padding: 100px 16px;
    } 
    @media screen and (max-width: $bp-mobile) {
        padding: 50px 16px;
    }
}




.mob-banner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    height: 90px;
    background-color: $brightest;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;

    .icon-phone,
    .banner-text {
        display: flex;
    }
    p {
        font-size: 20px;
        font-weight: bold;
    }
    strong {
        color: $deep;
    }
    span {
        font-size: 12px;
        color: $txt-secondary;
    }
}

.bottom-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 3px 10px 2px rgba(0,0,0,0.2);
    background: $w;

    .bottom-menu-wrap {
        position: relative;
    }
    .menu-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        left: 45%;
        background: $w;

        a {
            display: block;
            width: 45px;
            height: 38px;
        }
    }
    .menu-icon-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 30px;
    }
    .menu-wrap {
        display: flex;
        column-gap: 45px;
    }
    .menu-icon {
        height: 24px;
        display: flex;
        align-items: center;

        a {
            width: 24px;
            height: 24px;
            color: transparent;
            background-position: center;
            background-repeat: no-repeat;
        }
        .menu-icon-search {
            background-image: url(../../images/comm/icon-search-menu.png);
        }
        .menu-icon-bar {
            background-image: url(../../images/comm/icon-bar-menu.png);
        }
        .menu-icon-cart {
            background-image: url(../../images/comm/icon-cart-menu.png);
        }
        .menu-icon-user {
            background-image: url(../../images/comm/icon-user-menu.png);
        }
    }
    @media screen and (min-width: 476px) {
        display: none;        
    }
}

.m-visible {
    display: none;
}

@media screen and (max-width: $bp-mobile) {
    .m-hidden {
        display: none !important;
    }
    .m-visible {
        display: block;

    }
}

@import 'main', 'sub1', 'sub2';