@import 'variables', 'fonts', 'reset';



// contents

#header {
    max-width: 1440px;
    margin: 0 auto;
    .h-wrap {
        padding: 20px 80px 30px;
    }
    .nav-top {
        display: flex;
        justify-content: flex-end;
        column-gap: 15px;
        p {
            font-size: 12px;
        }
    }
    h1 {
        display: flex;
        justify-content: center;
        margin: 10px auto 65px;
        a {
            width: 191px;
            height: 90px;
            background: url(../../images/comm/logo-web.png);
        }
    }
    .nav-bottom {
        position: relative;
        // display: flex;
        // justify-content: space-between;

        .lnb {
            position: absolute;
            top: -26px;
            left: -20px;
            padding: 20px;
            border: 1px solid $line;
            border-radius: 25px;
            border-top-right-radius: 0;
            background-color: $w;


            lnb-d1 a::after {
                content: '';
                display: none;
                width: 100%;
                height: 100%;
                background-color: $light;
                border-radius: 20px;
            }

            lnb-d1 a:hover a::after {
                display: block;
            }
        }
        .lnb-btn-wrap > a {
            display: flex;
            align-items: center;
            gap: 18px;
            .ctr-btn {
                width: 35px;
                height: 35px;
                border-radius: 35px;
                border-top-right-radius: 0;
                background-color: $primary;
            }
            i {
                padding: 9px 11px;
            }
            p {
                font-size: 18px;
                font-family: 'BMJUA';
            }
        }
        .lnb-menu-wrap {
            display: flex;
        }
        .lnb-depth1 {
            width: 180px;
            padding: 20px 30px;
        }
        .lnb-d1 {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            font-size: 14px;
        }
        .lnb-d1-2,
        .lnb-d1-3 {
            a {
            display: block;
            padding: 10px 0;
            }
        }
        .lnb-depth2 {
            position: relative;
            width: 180px;
            border-left: 1px solid $line;
        }
        .lnb-d2 {
            position: absolute;
            top: 0;
            left: 0;
            // opacity: 0;
            padding: 30px 30px;
            font-size: 14px;     
                a {
                display: block;
                padding: 10px 0;
                }
        }


        #gnb {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            ul {
                display: flex;
            }
            li {
                padding: 0 25px;
            }
            .nav-local {
                color: $deep;
            }
        }

        .nav-icon {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;

            button,
            .btn-cart,
            .btn-mypage {
                padding: 0 17px;
            }
            
        }
    }
}

#footer {
    width: 100%;
    background-color: $bg-light;
    
    .f-wrap {
        max-width: 1440px;
        margin: 0 auto;
        padding: 60px 80px;
        display: flex;
        justify-content: space-between;
    }
    .f-left {
        .f-top {
            ul {
            display: flex;
            gap: 30px;
            }
            a {
                font-weight: bold;
            }
        }
        .f-middle {
            p {
                font-size: 14px;
                color: $txt-disabled;
            }
            .f-m-inner {
                padding: 40px 0 20px;
            }
            .line {
                display: inline-block;
                width: 1px;
                height: 12px;
                margin: 0 3px;
                background-color: $txt-disabled;
            }
        }
        .f-bottom {
            padding-top: 60px;
            .copyright {
                font-size: 12px;
                color: $txt-secondary;
            }
        }
    }

    .f-right {
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       
       strong {
           font-size: 30px;
           font-weight: normal;
        }
        p {
            line-height: 28px;    
            font-size: 14px;    
            text-align: right;
            color: $txt-secondary;
        }
        .f-r-wrap {
            display: grid;
            justify-items: end;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
        }
        .number {
            padding: 20px 0;
            font-size: 50px;
            font-weight: bold;
            line-height: normal;
            color: $deep;
        }
    }
}

@import 'main' ;