@charset "UTF-8";
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard-Regular", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #232527;
}

img {
  line-height: 0;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

a {
  color: #232527;
  text-decoration: none;
}
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

h2 {
  font-family: "BMJUA";
  font-size: 50px;
}

#header {
  max-width: 1440px;
  margin: 0 auto;
}
#header .h-wrap {
  padding: 20px 80px 30px;
}
#header .nav-top {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#header .nav-top p {
  font-size: 12px;
}
#header h1 {
  display: flex;
  justify-content: center;
  margin: 10px auto 65px;
}
#header h1 a {
  width: 191px;
  height: 90px;
  background: url(../../images/comm/logo-web.png);
}
#header .nav-bottom {
  position: relative;
}
#header .nav-bottom .lnb {
  opacity: 0;
  position: absolute;
  top: -26px;
  left: -20px;
  padding: 20px;
  border: 1px solid #E2E2E2;
  border-radius: 25px;
  border-top-right-radius: 0;
  background-color: #fff;
}
#header .nav-bottom .lnb lnb-d1 a::after {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  background-color: #CCE9A8;
  border-radius: 20px;
}
#header .nav-bottom .lnb lnb-d1 a:hover a::after {
  display: block;
}
#header .nav-bottom .lnb-btn-wrap > a {
  display: flex;
  align-items: center;
  gap: 18px;
}
#header .nav-bottom .lnb-btn-wrap > a .ctr-btn {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border-top-right-radius: 0;
  background-color: #77B934;
}
#header .nav-bottom .lnb-btn-wrap > a i {
  padding: 9px 11px;
}
#header .nav-bottom .lnb-btn-wrap > a p {
  font-size: 18px;
  font-family: "BMJUA";
}
#header .nav-bottom .lnb-menu-wrap {
  display: flex;
}
#header .nav-bottom .lnb-depth1 {
  width: 180px;
  padding: 20px 30px;
}
#header .nav-bottom .lnb-depth1 .lnb-d1 {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  font-size: 14px;
}
#header .nav-bottom .lnb-depth1 .lnb-d1-2 a,
#header .nav-bottom .lnb-depth1 .lnb-d1-3 a {
  display: block;
  padding: 10px 0;
}
#header .nav-bottom .lnb-depth2 {
  position: relative;
  width: 180px;
  border-left: 1px solid #E2E2E2;
}
#header .nav-bottom .lnb-depth2 .lnb-d2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 30px;
  font-size: 14px;
}
#header .nav-bottom .lnb-depth2 .lnb-d2 a {
  display: block;
  padding: 10px 0;
}
#header .nav-bottom #gnb {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#header .nav-bottom #gnb ul {
  display: flex;
}
#header .nav-bottom #gnb li {
  padding: 0 25px;
}
#header .nav-bottom #gnb .nav-local {
  color: #2E7602;
}
#header .nav-bottom .nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
#header .nav-bottom .nav-icon button,
#header .nav-bottom .nav-icon .btn-cart,
#header .nav-bottom .nav-icon .btn-mypage {
  padding: 0 17px;
}

#footer {
  width: 100%;
  background-color: #F5F5F5;
}
#footer .f-wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}
#footer .f-left .f-top ul {
  display: flex;
  gap: 30px;
}
#footer .f-left .f-top a {
  font-weight: bold;
}
#footer .f-left .f-middle p {
  font-size: 14px;
  color: #777777;
}
#footer .f-left .f-middle .f-m-inner {
  padding: 40px 0 20px;
}
#footer .f-left .f-middle .line {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 3px;
  background-color: #777777;
}
#footer .f-left .f-bottom {
  padding-top: 60px;
}
#footer .f-left .f-bottom .copyright {
  font-size: 12px;
  color: #444444;
}
#footer .f-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#footer .f-right strong {
  font-size: 30px;
  font-weight: normal;
}
#footer .f-right p {
  line-height: 28px;
  font-size: 14px;
  text-align: right;
  color: #444444;
}
#footer .f-right .f-r-wrap {
  display: grid;
  justify-items: end;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#footer .f-right .number {
  padding: 20px 0;
  font-size: 50px;
  font-weight: bold;
  line-height: normal;
  color: #2E7602;
}

.main-slide {
  position: relative;
}
.main-slide .pager {
  z-index: 1;
}
.main-slide .pager .prev,
.main-slide .pager .next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #232527;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
}
.main-slide .pager .prev {
  position: absolute;
  top: 40%;
  left: 0;
}
.main-slide .pager .next {
  position: absolute;
  top: 40%;
  right: 0;
}

.slide-wrap {
  position: relative;
}
.slide-wrap .slide {
  margin-right: -30px;
  transform: scale(0.9);
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}
.slide-wrap .slide a {
  width: 1105px;
  height: 420px;
}
.slide-wrap .slide a img {
  border-radius: 20px;
}
.slide-wrap .slick-center {
  transform: scale(1);
  opacity: 1;
}

.new-items,
.farm,
.review {
  max-width: 1440px;
  margin: 0 auto;
}

.title,
.tit-txt {
  text-align: center;
}

.tit-txt {
  font-size: 20px;
  color: #444444;
}

.new-items .new-card-wrap {
  width: 100%;
}
.new-items .slick-list {
  margin-right: -20px;
}
.new-items .slick-slide {
  margin-right: 20px;
}
.new-items .new-thumbnail {
  position: relative;
  margin-bottom: 20px;
}
.new-items .new-thumbnail .new-anchor img {
  width: 100%;
  border-radius: 10px;
}
.new-items .new-thumbnail .new-anchor p {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 30px;
  background-color: #FF8C00;
  color: #fff;
  font-weight: 600;
  border-radius: 10px 0 10px 0;
}
.new-items .new-thumbnail .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.new-items .desc .txt {
  color: #777777;
}
.new-items .desc .tit {
  margin: 15px 0 7px 0;
  font-size: 20px;
  font-weight: 600;
}
.new-items .desc .price {
  font-weight: 600;
}
.new-items .desc .price .amount {
  font-size: 26px;
}
.new-items .desc .price .won {
  font-size: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.swiper-backface-hidden .swiper-slide {
  transform: scale(0.84) translateZ(0);
}

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0);
}

.swiper-slide.swiper-slide-active {
  opacity: 1;
}

.sub1-cont {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 100px;
}

h3 {
  padding-bottom: 100px;
  font-size: 60px;
  font-weight: lighter;
  font-family: "BMJUA";
  text-align: center;
}

.info-tit {
  font-size: 18px;
  text-align: center;
  color: #CCE9A8;
}

.info-fage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.info-fage1 {
  background-image: url(../../images/sub1/infopage1.png);
}
.info-fage1 .info-int1 {
  font-size: 60px;
}

.info-fage2 {
  margin-bottom: 100px;
  background-image: url(../../images/sub1/infopage2.png);
}
.info-fage2 .info-int2 {
  font-size: 40px;
}
.info-fage2 .info-int2 span {
  color: #CCE9A8;
}

.info-what p {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
.info-what .sub1-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-what .sub1-slide-inner {
  display: flex;
  width: 400px;
  height: 400px;
  margin: 0 150px;
}
.info-what .sub1-slide::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 94px;
  background-image: url(../../images/sub1/sub1_slide_before.png);
}
.info-what .sub1-slide::after {
  content: "";
  display: inline-block;
  width: 26px;
  height: 94px;
  background-image: url(../../images/sub1/sub1_slide_after.png);
}
.info-what .sub1-slide-img {
  width: 100%;
  height: auto;
}

.info-about {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  max-width: none;
}
.info-about .info-about-img,
.info-about .info-wrap {
  width: 50%;
}
.info-about .info-about-img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.info-about .info-wrap {
  padding-left: 80px;
}
.info-about h3,
.info-about .info-tit {
  text-align: left;
}
.info-about h3 {
  padding-bottom: 80px;
}
.info-about .info-about-txt {
  cursor: pointer;
}
.info-about .info-about-txt p {
  font-size: 50px;
  color: rgba(68, 68, 68, 0.3);
}
.info-about .info-about-txt p:hover {
  color: #232527;
}
.info-about .info-about-txt p:hover span {
  font-weight: bold;
}
.info-about .info-about-txt span {
  position: relative;
  color: #232527;
}
.info-about .info-about-txt span::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: -100;
  background: linear-gradient(to right, #E7F4D7 0%, rgba(119, 185, 52, 0.5) 100%);
}

.info-why {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}
.info-why .info-why-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1050px;
}
.info-why .why-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 100px;
}
.info-why .info-why-img {
  position: relative;
  width: 47%;
  height: 320px;
}
.info-why .img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.info-why .img-wrap::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 120%;
  height: 120%;
  z-index: -100;
  background-image: url(../../images/sub1/bgline.PNG);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.info-why .info-why-box {
  width: 50%;
  padding: 0 30px;
}
.info-why .info-why-box .number-circle {
  margin-bottom: 45px;
  padding-top: 2px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background: linear-gradient(to bottom right, #CCE9A8 -20%, rgb(119, 185, 52) 100%);
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.info-why .info-why-box strong {
  font-size: 40px;
}
.info-why .info-why-box span {
  position: relative;
}
.info-why .info-why-box span::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 130%;
  background-image: url(../../images/sub1/pointline.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.info-why .info-why-box p {
  margin-top: 20px;
  font-size: 18px;
  color: #444444;
}
.info-why .info-why-l {
  display: flex;
}
.info-why .info-why-l .info-why-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.info-fresh {
  display: flex;
  flex-direction: column;
  max-width: none;
  margin: 0;
  padding: 100px 0 0;
}
.info-fresh .info-fresh-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-fresh .info-fresh-wrap > p {
  padding-top: 100px;
  font-size: 28px;
}
.info-fresh span {
  font-weight: bold;
}
.info-fresh .Route-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.info-fresh .Route-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-fresh .Route-box p {
  padding-top: 30px;
  font-size: 22px;
}
.info-fresh .Route-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 250px;
  background: #F5F5F5;
}
.info-fresh .Route1 {
  width: 100%;
  background: linear-gradient(to bottom, #F5F5F5 50%, rgb(255, 255, 255) 100%);
}
.info-fresh .Route1 .Route-circle {
  background: #fff;
}
.info-fresh .Route-icon {
  width: 100px;
  height: 100px;
}
.info-fresh .down-arrow {
  margin: 80px 0;
}
.info-fresh .icon-downarrow {
  width: 40px;
  height: 40px;
}
.info-fresh .route2 {
  position: relative;
}
.info-fresh .icon-sparkle {
  position: absolute;
}
.info-fresh .icon-sparkle img {
  width: 100%;
  height: 100%;
}
.info-fresh .sparkle1 {
  left: 900px;
  width: 100px;
  height: 100px;
}
.info-fresh .sparkle2 {
  width: 80px;
  height: 80px;
}

.info-various {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 100px 0 0;
  max-width: none;
}
.info-various .info-various-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.info-various .various-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
  margin: 0 15px;
  color: #fff;
  border-radius: 20px;
  background-color: #E7F4D7;
  background-repeat: no-repeat;
  background-size: cover;
}
.info-various .txt-wrap {
  padding: 0 0 30px 30px;
}
.info-various .txt-wrap strong {
  font-size: 32px;
}
.info-various .txt-wrap p {
  padding-top: 3px;
  font-size: 16px;
}
.info-various .vb-1 {
  background-image: url(../../images/sub1/variouble_1.png);
}
.info-various .vb-2 {
  background-image: url(../../images/sub1/variouble_2.png);
}
.info-various .vb-3 {
  background-image: url(../../images/sub1/variouble_3.png);
}
.info-various .vb-0 {
  background-image: url(../../images/sub1/variouble_3.png);
}
.info-various .vb-4 {
  background-image: url(../../images/sub1/variouble_1.png);
}

.info-banner {
  margin: 200px 0 0 0;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url(../../images/sub1/sub1_banner.png);
}
.info-banner p {
  padding: 40px 0 60px;
  font-size: 60px;
  text-align: center;
  line-height: 75px;
}/*# sourceMappingURL=comm.css.map */