@charset "UTF-8";
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

a {
  color: #232527;
  text-decoration: none;
}
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard-Regular", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #232527;
}
body h2 {
  font-family: "BMJUA";
}

#header {
  max-width: 1440px;
  margin: 0 auto;
}
#header .h-wrap {
  padding: 20px 80px 30px;
}
#header .nav-top {
  display: flex;
  justify-content: flex-end;
}
#header h1 {
  display: flex;
  justify-content: center;
  margin: 10px auto 30px;
}
#header .nav-bottom {
  display: flex;
  justify-content: space-between;
}
#header .nav-bottom .gnb-wrap > a {
  display: flex;
}
#header .nav-bottom .gnb-wrap > a:hover .depth1 {
  opacity: 1;
  visibility: visible;
}
#header .nav-bottom .cartegory ul {
  display: flex;
}
#header .nav-bottom .cartegory li {
  padding: 0 27px;
}
#header .nav-bottom .nav-icon {
  display: flex;
}
#header .nav-bottom .nav-icon p {
  padding: 0 17px;
}

#footer {
  width: 100%;
  background-color: #F5F5F5;
}
#footer .f-wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}
#footer .f-left .f-top ul {
  display: flex;
  gap: 30px;
}
#footer .f-left .f-top a {
  font-weight: bold;
}
#footer .f-left .f-middle p {
  font-size: 14px;
  color: #777777;
}
#footer .f-left .f-middle .f-m-inner {
  padding: 40px 0 20px;
}
#footer .f-left .f-middle .line {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 3px;
  background-color: #777777;
}
#footer .f-left .f-bottom {
  padding-top: 60px;
}
#footer .f-left .f-bottom .copyright {
  font-size: 12px;
  color: #444444;
}
#footer .f-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#footer .f-right strong {
  font-size: 30px;
  font-weight: normal;
}
#footer .f-right p {
  line-height: 28px;
  font-size: 14px;
  text-align: right;
  color: #444444;
}
#footer .f-right .f-r-wrap {
  display: grid;
  justify-items: end;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#footer .f-right .number {
  padding: 20px 0;
  font-size: 50px;
  font-weight: bold;
  line-height: normal;
  color: #2E7602;
}

.new-items .new-card-wrap {
  width: 100%;
}
.new-items .slick-list {
  margin-right: -20px;
}
.new-items .slick-slide {
  margin-right: 20px;
}
.new-items .new-thumbnail {
  position: relative;
  margin-bottom: 20px;
}
.new-items .new-thumbnail .new-anchor img {
  width: 100%;
  border-radius: 10px;
}
.new-items .new-thumbnail .new-anchor p {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 30px;
  background-color: #FF8C00;
  color: #fff;
  font-weight: 600;
  border-radius: 10px 0 10px 0;
}
.new-items .new-thumbnail .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.new-items .desc .txt {
  color: #777777;
}
.new-items .desc .tit {
  margin: 15px 0 7px 0;
  font-size: 20px;
  font-weight: 600;
}
.new-items .desc .price {
  font-weight: 600;
}
.new-items .desc .price .amount {
  font-size: 26px;
}
.new-items .desc .price .won {
  font-size: 20px;
}/*# sourceMappingURL=comm.css.map */