@charset "UTF-8";
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard-Regular", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #232527;
}

img {
  line-height: 0;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

a {
  color: #232527;
  text-decoration: none;
}
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

h2 {
  font-family: "BMJUA";
  font-size: 50px;
}

#header {
  max-width: 1440px;
  margin: 0 auto;
}
#header .h-wrap {
  padding: 20px 80px 30px;
}
#header .nav-top {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#header .nav-top p {
  font-size: 12px;
}
#header h1 {
  display: flex;
  justify-content: center;
  margin: 10px auto 60px;
}
#header h1 a {
  width: 191px;
  height: 90px;
}
#header h1 .logo-w {
  background: url(../../images/comm/logo-web.png);
}
#header h1 .logo-m {
  display: none;
  background: url(../../images/comm/logo-mob.png);
}
#header .nav-bottom {
  position: relative;
}
#header .nav-bottom .lnb {
  position: absolute;
  top: -26px;
  left: -20px;
  padding: 20px;
  border: 1px solid #fff;
}
#header .nav-bottom .lnb lnb-d1 a::after {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  background-color: #CCE9A8;
  border-radius: 20px;
}
#header .nav-bottom .lnb lnb-d1 a:hover a::after {
  display: block;
}
#header .nav-bottom .lnb .lnb-btn-wrap > a {
  display: flex;
  align-items: center;
  gap: 18px;
}
#header .nav-bottom .lnb .ctr-btn {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border-top-right-radius: 0;
  background-color: #77B934;
}
#header .nav-bottom .lnb .fa-xmark {
  padding-left: 12px;
}
#header .nav-bottom .lnb i {
  padding: 9px 11px;
}
#header .nav-bottom .lnb p {
  font-size: 18px;
  font-family: "BMJUA";
}
#header .nav-bottom .lnb .lnb-menu-wrap {
  display: none;
}
#header .nav-bottom .lnb .lnb-depth1 {
  display: flex;
  width: 420px;
  padding: 20px 30px 0;
}
#header .nav-bottom .lnb .lnb-depth1 .depth1 {
  position: relative;
  width: 180px;
  border-right: 1px solid #E2E2E2;
}
#header .nav-bottom .lnb .lnb-depth1 .lnb-d1 {
  display: flex;
  flex-direction: column;
  padding: 0;
}
#header .nav-bottom .lnb .lnb-depth1 .lnb-d1 > a {
  position: relative;
  padding: 10px 0;
  height: 37px;
  color: #777777;
  line-height: 1;
  z-index: 1;
}
#header .nav-bottom .lnb .lnb-depth1 .lnb-d1 > a::after {
  content: "";
  display: none;
  position: absolute;
  top: -1px;
  left: -20px;
  width: 170px;
  height: 37px;
  border-radius: 100px;
  background-color: #CCE9A8;
  z-index: -1;
}
#header .nav-bottom .lnb .lnb-depth1 .lnb-d1 > a:hover {
  color: #232527;
  font-weight: bold;
}
#header .nav-bottom .lnb .lnb-depth1 .lnb-d1 > a:hover::after {
  display: block;
}
#header .nav-bottom .lnb .lnb-depth1 .d1-wide {
  padding: 20px 0;
}
#header .nav-bottom .lnb .lnb-depth1 .d1-first {
  padding: 10px 0 0;
}
#header .nav-bottom .lnb .lnb-depth1 .d1-last {
  padding: 0 0 10px;
}
#header .nav-bottom .lnb .depth2 {
  position: absolute;
  top: 15px;
  left: 220px;
  width: 180px;
  opacity: 0;
}
#header .nav-bottom .lnb .depth2 li {
  padding: 10px 0;
}
#header .nav-bottom .lnb .depth2 li a {
  position: relative;
  color: #777777;
  z-index: 1;
}
#header .nav-bottom .lnb .depth2 li a::after {
  content: "";
  display: none;
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #77B934;
  z-index: -1;
}
#header .nav-bottom .lnb .depth2 li a:hover {
  color: #232527;
  font-weight: bold;
}
#header .nav-bottom .lnb .depth2 li a:hover::after {
  display: block;
}
#header .nav-bottom .lnb .open {
  opacity: 1;
}
#header .nav-bottom .lnb-click {
  border: 1px solid #E2E2E2;
  border-radius: 25px;
  border-top-right-radius: 0;
  background-color: #fff;
}
#header .nav-bottom .lnb-click {
  border: 1px solid #E2E2E2;
  border-radius: 25px;
  border-top-right-radius: 0;
  background-color: #fff;
}
#header .nav-bottom #gnb {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#header .nav-bottom #gnb ul {
  display: flex;
  align-items: center;
}
#header .nav-bottom #gnb li {
  padding: 0 25px;
}
#header .nav-bottom #gnb span {
  display: block;
  width: 1px;
  height: 15px;
  background: #E2E2E2;
}
#header .nav-bottom #gnb .nav-local {
  color: #2E7602;
}
#header .nav-bottom .nav-icon-wrap {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: absolute;
  top: 0;
  right: 0;
  height: 27px;
}
#header .nav-bottom .nav-icon-wrap .nav-icon {
  width: 27px;
}
#header .nav-bottom .nav-icon-wrap .btn-search {
  background-image: url(../../images/comm/icon-search.png);
}
#header .nav-bottom .nav-icon-wrap img {
  vertical-align: top;
}
@media screen and (max-width: 475px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    max-width: 475px;
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    background: #fff;
  }
  #header .h-wrap {
    position: relative;
    padding: 10px 16px 15px;
  }
  #header .nav-top {
    display: none;
  }
  #header #logo {
    margin-bottom: 15px;
  }
  #header #logo a {
    width: 130px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
  }
  #header #logo .logo-w {
    display: none;
  }
  #header #logo .logo-m {
    display: block;
  }
  #header .nav-bottom {
    position: static;
    width: 100%;
  }
  #header .nav-bottom .lnb {
    top: 25px;
    left: 16px;
    width: 100%;
    padding: 0;
    border: none;
  }
  #header .nav-bottom .lnb .ctr-btn {
    width: 30px;
    height: 30px;
  }
  #header .nav-bottom .lnb i {
    padding: 6px 9px;
  }
  #header .nav-bottom .lnb .fa-xmark {
    padding-left: 10px;
  }
  #header .nav-bottom #gnb ul {
    justify-content: space-between;
    width: 100%;
  }
  #header .nav-bottom #gnb li {
    padding: 0;
  }
  #header .nav-bottom #gnb a {
    font-size: 14px;
  }
  #header .nav-bottom #gnb .nav-local {
    font-family: "BMJUA";
    font-size: 15px;
  }
  #header .nav-bottom .nav-icon-wrap {
    top: 25px;
    right: 16px;
    justify-content: flex-end;
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}

#footer {
  width: 100%;
  background-color: #F5F5F5;
}
#footer .f-wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}
#footer .f-left .f-top ul {
  display: flex;
  gap: 30px;
}
#footer .f-left .f-top a {
  font-weight: bold;
}
#footer .f-left .f-middle p {
  font-size: 14px;
  color: #777777;
}
#footer .f-left .f-middle .f-m-inner {
  padding: 40px 0 20px;
}
#footer .f-left .f-middle .line {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 3px;
  background-color: #777777;
}
#footer .f-left .f-bottom {
  padding-top: 60px;
}
#footer .f-left .f-bottom .copyright {
  font-size: 12px;
  color: #444444;
}
#footer .f-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#footer .f-right strong {
  font-size: 30px;
  font-weight: normal;
}
#footer .f-right p {
  line-height: 28px;
  font-size: 14px;
  text-align: right;
  color: #444444;
}
#footer .f-right .f-r-wrap {
  display: grid;
  justify-items: end;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#footer .f-right .number {
  padding: 20px 0;
  font-size: 50px;
  font-weight: bold;
  line-height: normal;
  color: #2E7602;
}
@media screen and (max-width: 475px) {
  #footer .f-wrap {
    padding: 20px 16px;
  }
  #footer .f-wrap .f-left .f-top {
    padding-bottom: 20px;
    border-bottom: 1px solid #E2E2E2;
  }
  #footer .f-wrap .f-left .f-top ul {
    justify-content: space-between;
    justify-content: flex-start;
    gap: 20px;
  }
  #footer .f-wrap .f-left .f-top a {
    font-size: 12px;
  }
  #footer .f-wrap .f-left .f-middle {
    padding: 60px 0;
  }
  #footer .f-wrap .f-left .f-middle .f-m-inner {
    padding: 0;
  }
  #footer .f-wrap .f-left .f-middle .f-m-inner p {
    font-size: 12px;
  }
  #footer .f-wrap .f-left .f-middle > p {
    padding-top: 20px;
    font-size: 12px;
  }
  #footer .f-wrap .f-left .f-bottom {
    padding: 20px 0 70px;
    border-top: 1px solid #E2E2E2;
  }
  #footer .f-wrap .f-left .f-bottom .copyright {
    font-size: 10px;
  }
  #footer .f-wrap .f-right {
    display: none;
  }
  #footer .m-hidden {
    display: none;
    visibility: hidden;
  }
  #footer .m-visible {
    display: block;
    visibility: visible;
  }
}

.bottom-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.bottom-menu .bottom-menu-wrap {
  position: relative;
}
.bottom-menu .menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 45%;
  background: #fff;
}
.bottom-menu .menu-logo a {
  display: block;
  width: 45px;
  height: 38px;
}
.bottom-menu .menu-icon-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 30px;
}
.bottom-menu .menu-wrap {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.bottom-menu .menu-icon {
  height: 24px;
  display: flex;
  align-items: center;
}
.bottom-menu .menu-icon a {
  width: 24px;
  height: 24px;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.bottom-menu .menu-icon .menu-icon-search {
  background-image: url(../../images/comm/icon-search-menu.png);
}
.bottom-menu .menu-icon .menu-icon-bar {
  background-image: url(../../images/comm/icon-bar-menu.png);
}
.bottom-menu .menu-icon .menu-icon-cart {
  background-image: url(../../images/comm/icon-cart-menu.png);
}
.bottom-menu .menu-icon .menu-icon-user {
  background-image: url(../../images/comm/icon-user-menu.png);
}
@media screen and (min-width: 476px) {
  .bottom-menu {
    display: none;
  }
}

.bottom-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.bottom-menu .bottom-menu-wrap {
  position: relative;
}
.bottom-menu .menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 45%;
  background: #fff;
}
.bottom-menu .menu-logo a {
  display: block;
  width: 45px;
  height: 38px;
}
.bottom-menu .menu-icon-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 30px;
}
.bottom-menu .menu-wrap {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.bottom-menu .menu-icon {
  height: 24px;
  display: flex;
  align-items: center;
}
.bottom-menu .menu-icon a {
  width: 24px;
  height: 24px;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.bottom-menu .menu-icon .menu-icon-search {
  background-image: url(../../images/comm/icon-search-menu.png);
}
.bottom-menu .menu-icon .menu-icon-bar {
  background-image: url(../../images/comm/icon-bar-menu.png);
}
.bottom-menu .menu-icon .menu-icon-cart {
  background-image: url(../../images/comm/icon-cart-menu.png);
}
.bottom-menu .menu-icon .menu-icon-user {
  background-image: url(../../images/comm/icon-user-menu.png);
}
@media screen and (min-width: 476px) {
  .bottom-menu {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .m-hidden {
    display: none;
    visibility: hidden;
  }
  .m-visible {
    display: block;
    visibility: visible;
  }
}
@media screen and (min-width: 476px) {
  .m-visible {
    display: none;
    visibility: hidden;
  }
}
.new-items,
.reco-wrap,
.farm,
.review-wrap {
  max-width: 1440px;
  margin: 150px auto;
}

section {
  margin-top: 150px;
}

h2 {
  margin-bottom: 15px;
}

.title,
.tit-txt {
  text-align: center;
}

.tit-txt {
  font-size: 20px;
  color: #444444;
}

.main-slide {
  position: relative;
}
.main-slide .pager {
  z-index: 1;
}
.main-slide .pager .prev,
.main-slide .pager .next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #232527;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
}
.main-slide .pager .prev {
  position: absolute;
  top: 40%;
  left: 0;
}
.main-slide .pager .next {
  position: absolute;
  top: 40%;
  right: 0;
}

.slide-wrap {
  position: relative;
}
.slide-wrap .slide {
  margin-right: -30px;
  transform: scale(0.9);
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
  border: 1px solid #E2E2E2;
  border-radius: 20px;
}
.slide-wrap .slide a {
  width: 1105px;
  height: 420px;
  border-radius: inherit;
}
.slide-wrap .slide a img {
  border-radius: inherit;
}
.slide-wrap .slick-center {
  transform: scale(1);
  opacity: 1;
}

.new-items .new-card-wrap {
  width: 100%;
  margin-top: 60px;
}
.new-items .slick-list {
  margin-right: -20px;
}
.new-items .slick-slide {
  margin-right: 20px;
}
.new-items .new-thumbnail {
  position: relative;
  margin-bottom: 20px;
}
.new-items .new-thumbnail .new-anchor img {
  width: 100%;
  border-radius: 10px;
}
.new-items .new-thumbnail .new-anchor p {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 30px;
  background-color: #FF8C00;
  color: #fff;
  font-weight: 600;
  border-radius: 10px 0 10px 0;
}
.new-items .new-thumbnail .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.new-items .new-thumbnail .cart img {
  width: 20px;
  height: 20px;
}
.new-items .desc .txt {
  color: #777777;
}
.new-items .desc .tit {
  margin: 15px 0 7px 0;
  font-size: 20px;
  font-weight: 600;
}
.new-items .desc .price {
  font-weight: 600;
}
.new-items .desc .price .amount {
  font-size: 26px;
}
.new-items .desc .price .won {
  font-size: 20px;
}

.best-item .tab-btns {
  display: flex;
  justify-content: center;
  margin: 60px 0 70px 0;
}
.best-item .tab-btns .tab-btn {
  font-size: 16px;
  font-family: "Pretendard-Regular";
  color: #777777;
  padding: 10px 30px;
  margin-right: 20px;
  border: 1px solid #E2E2E2;
  border-radius: 25px;
}
.best-item .tab-btns .tab-btn.active {
  color: #fff;
  background: #77B934;
  border: none;
  font-weight: 600;
}
.best-item .best-tab {
  display: none;
}
.best-item .best-tab.active {
  display: block;
}

.best-tab .best-slide {
  width: 100%;
  height: 100%;
}
.best-tab .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.best-tab .swiper-slide .best-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.best-tab .swiper-backface-hidden .swiper-slide {
  transform: scale(0.84) translateZ(0);
}
.best-tab .swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0);
}
.best-tab .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.best-card .best-thumbnail {
  position: relative;
}
.best-card .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.best-card .cart img {
  width: 20px;
  height: 20px;
}
.best-card .desc {
  text-align: left;
}
.best-card .desc .txt {
  margin: 20px 0 15px 0;
  font-size: 20px;
  color: #777777;
}
.best-card .desc .tit {
  font-size: 24px;
  font-weight: 600;
}
.best-card .desc .price {
  font-weight: 600;
}
.best-card .desc .price .amount {
  font-size: 30px;
}
.best-card .desc .price .won {
  font-size: 24px;
}

.recommend {
  background: #F5F5F5;
  padding: 60px 0 60px 0;
  overflow: hidden;
}

.reco-wrap {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% auto;
}
.reco-wrap .title {
  z-index: 2;
  text-align: left;
}
.reco-wrap .title p {
  font-size: 20px;
  color: #444444;
}
.reco-wrap .reco-slide-wrap .reco-slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.reco-wrap .reco-slide-wrap .reco-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.reco-wrap .reco-slide-wrap .reco-slide .swiper-slide {
  display: flex;
  width: 80%;
}
.reco-wrap .reco-slide-wrap .reco-slide .swiper-slide .card-img {
  border-radius: 10px;
}
.reco-wrap .reco-slide-wrap .reco-slide .swiper-slide .card-img::before {
  border-radius: inherit;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  z-index: 1;
}
.reco-wrap .reco-slide-wrap .reco-slide .swiper-slide img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.reco-wrap .reco-slide-wrap .reco-slide .card-txt {
  z-index: 1;
  color: #fff;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.reco-wrap .reco-slide-wrap .reco-slide .card-txt .hash {
  font-size: 20px;
}
.reco-wrap .reco-slide-wrap .reco-slide .card-txt .txt {
  font-size: 30px;
  font-weight: 600;
}
.reco-wrap .swiper-pagination {
  grid-column: 2;
  margin-top: 30px;
  position: relative;
  left: 0;
  bottom: 0;
  text-align: left;
}
.reco-wrap .swiper-pagination-bullet {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  background: #777777;
  border-radius: 25px;
}
.reco-wrap .swiper-pagination-bullet-active {
  width: 50px;
  height: 20px;
  background: #444444;
  border-radius: 25px;
}

.farm h2 {
  margin-bottom: 30px;
}
.farm .tab-btns {
  display: flex;
}
.farm .tab-btn {
  margin-right: 35px;
}
.farm .tab-btn button {
  font-family: "Pretendard-Regular";
  font-weight: 500;
  font-size: 20px;
  color: #777777;
}
.farm .tab-btn button .line {
  display: none;
  margin: 8px 0 30px 0;
  width: 100%;
  height: 3px;
  background: #232527;
}
.farm .tab-btn.active button {
  color: #232527;
}
.farm .tab-btn.active button .line {
  display: block;
}
.farm .farm-tab {
  position: relative;
  display: none;
}
.farm .farm-tab.active {
  display: block;
}
.farm .farm-tab .farm-img {
  width: 100%;
  height: 485px;
  border-radius: 20px;
}
.farm .farm-tab .farm-img.online {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/main/farm-farm.jpg) center center/cover;
}
.farm .farm-tab .farm-img.water {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/main/farm-water.jpg) center center/cover;
}
.farm .farm-tab .txt-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  word-break: keep-all;
}
.farm .farm-tab .txt-wrap .tit {
  font-family: "BMJUA";
  font-size: 50px;
  line-height: normal;
}
.farm .farm-tab .txt-wrap .txt {
  margin: 20px 0 45px 0;
  font-weight: 500;
  font-size: 20px;
}
.farm .farm-tab .txt-wrap .btn-more {
  color: #232527;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
}

.review {
  background: #F5F5F5;
  padding: 150px 0;
}
.review .review-wrap {
  margin: 0 auto;
}
.review .review-wrap .txt {
  font-size: 20px;
}
.review .review-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 60px;
}
.review .review-list li {
  flex: 1;
}
.review .review-list .card-wrap {
  height: 550px;
  background: #fff;
  padding: 21px;
  border-radius: 20px;
}
.review .review-list .card-wrap .img-big {
  width: 100%;
  height: calc(100% - 185px);
  border-radius: 20px;
}
.review .review-list .card-wrap .img-big.meat {
  background: url(../../images/main/review-01.jpg) center center/cover;
}
.review .review-list .card-wrap .img-big.straw {
  background: url(../../images/main/review-02.jpg) center center/cover;
}
.review .review-list .card-wrap .img-big.carrot {
  background: url(../../images/main/review-03.jpg) center center/cover;
}
.review .review-list .card-wrap .img-big.noodle {
  background: url(../../images/main/review-04.jpg) center center/cover;
}
.review .review-list .card-wrap .star {
  font-size: 24px;
  color: #FF8C00;
  margin: 10px 0 6px 0;
}
.review .review-list .card-wrap .name {
  font-size: 12px;
  color: #777777;
  margin-top: 20px;
}
.review .review-list .card-wrap .line {
  width: 100%;
  height: 1px;
  background: #E2E2E2;
  margin: 15px 0;
}
.review .review-list .card-wrap .under-wrap {
  display: flex;
  align-items: center;
}
.review .review-list .card-wrap .under-wrap .img-small {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 17px;
}
.review .review-list .card-wrap .under-wrap .img-small.meat {
  background: url(../../images/main/best-meat01.jpg) center center/cover;
}
.review .review-list .card-wrap .under-wrap .img-small.straw {
  background: url(../../images/main/new-strawberry01.jpg) center center/cover;
}
.review .review-list .card-wrap .under-wrap .img-small.carrot {
  background: url(../../images/main/new-carrot01.jpg) center center/cover;
}
.review .review-list .card-wrap .under-wrap .img-small.noodle {
  background: url(../../images/main/best-processed06.jpg) center center/cover;
}
.review .review-list .card-wrap .under-wrap .product {
  font-size: 14px;
  color: #444444;
}
.review .bnr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 150px;
  margin-top: 60px;
  background: #CCE9A8;
  border-radius: 10px;
}
.review .bnr .icon {
  width: 80px;
  height: 80px;
}
.review .bnr .paper {
  background: url(../../images/main/review-icon-paper.png) center center/contain no-repeat;
}
.review .bnr p {
  font-size: 50px;
  font-family: "BMJUA";
}
.review .bnr p span {
  color: #FF8C00;
}
.review .bnr .coin {
  background: url(../../images/main/review-icon-coin.svg) center center/contain no-repeat;
}

.sub-cont {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 80px;
}

h3 {
  padding-bottom: 100px;
  font-size: 60px;
  font-weight: lighter;
  font-family: "BMJUA";
  text-align: center;
}

.info-tit {
  font-size: 18px;
  text-align: center;
  color: #CCE9A8;
}

.info-fage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.info-fage1 {
  background-image: url(../../images/sub1/infopage1.png);
}
.info-fage1 .info-int1 {
  font-size: 60px;
}

.info-fage2 {
  margin-bottom: 100px;
  background-image: url(../../images/sub1/infopage2.png);
}
.info-fage2 .info-int2 {
  font-size: 40px;
}
.info-fage2 .info-int2 span {
  color: #CCE9A8;
}

.info-what p {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
.info-what .sub1-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-what .sub1-slide-inner {
  display: flex;
  width: 400px;
  height: 400px;
  margin: 0 150px;
}
.info-what .sub1-slide::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 94px;
  background-image: url(../../images/sub1/sub1_slide_before.png);
}
.info-what .sub1-slide::after {
  content: "";
  display: inline-block;
  width: 26px;
  height: 94px;
  background-image: url(../../images/sub1/sub1_slide_after.png);
}
.info-what .sub1-slide-img {
  width: 100%;
  height: auto;
}

.info-about {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  max-width: none;
}
.info-about .info-about-img,
.info-about .info-wrap {
  width: 50%;
}
.info-about .info-about-img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.info-about .info-wrap {
  padding-left: 80px;
}
.info-about h3,
.info-about .info-tit {
  text-align: left;
}
.info-about h3 {
  padding-bottom: 80px;
}
.info-about .info-about-txt {
  cursor: pointer;
}
.info-about .info-about-txt p {
  font-size: 50px;
  color: rgba(68, 68, 68, 0.3);
}
.info-about .info-about-txt p:hover {
  color: #232527;
}
.info-about .info-about-txt p:hover span {
  font-weight: bold;
}
.info-about .info-about-txt span {
  position: relative;
  color: #232527;
}
.info-about .info-about-txt span::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: -100;
  background: linear-gradient(to right, #E7F4D7 0%, rgba(119, 185, 52, 0.5) 100%);
}

.info-why {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}
.info-why .info-why-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1050px;
}
.info-why .why-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 100px;
}
.info-why .info-why-img {
  position: relative;
  width: 47%;
  height: 320px;
  background-image: url(../../images/sub1/why_bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.info-why .img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.info-why .img-wrap img {
  animation: motion 0.6s linear 0s infinite alternate;
}
.info-why .info-why-box {
  width: 50%;
  padding: 0 30px;
}
.info-why .info-why-box .number-circle {
  margin-bottom: 45px;
  padding-top: 2px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background: linear-gradient(to bottom right, #CCE9A8 -20%, rgb(119, 185, 52) 100%);
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.info-why .info-why-box strong {
  font-size: 40px;
}
.info-why .info-why-box span {
  position: relative;
}
.info-why .info-why-box span::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 130%;
  background-image: url(../../images/sub1/pointline.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.info-why .info-why-box p {
  margin-top: 20px;
  font-size: 18px;
  color: #444444;
}
.info-why .box-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.info-fresh {
  display: flex;
  flex-direction: column;
  max-width: none;
  margin: 0;
  padding: 100px 0 0;
}
.info-fresh .info-fresh-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-fresh .info-fresh-wrap > p {
  padding-top: 100px;
  font-size: 28px;
}
.info-fresh span {
  font-weight: bold;
}
.info-fresh .Route-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.info-fresh .Route-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-fresh .Route-box p {
  padding-top: 30px;
  font-size: 22px;
}
.info-fresh .Route-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 250px;
  background: #F5F5F5;
}
.info-fresh .Route1 {
  width: 100%;
  background: linear-gradient(to bottom, #F5F5F5 50%, rgb(255, 255, 255) 100%);
}
.info-fresh .Route1 .Route-circle {
  background: #fff;
}
.info-fresh .Route-icon {
  width: 100px;
  height: 100px;
}
.info-fresh .down-arrow {
  margin: 80px 0;
}
.info-fresh .icon-downarrow {
  width: 40px;
  height: 40px;
}
.info-fresh .route-txt-wrap {
  position: relative;
}
.info-fresh .route-txt-wrap p {
  padding-top: 100px;
  font-size: 28px;
}
.info-fresh .icon-sparkle {
  position: absolute;
}
.info-fresh .icon-sparkle img {
  width: 100%;
  height: 100%;
  animation: motion 0.6s linear 0s infinite alternate;
}
@keyframes motion {
  0% {
    margin-top: -5px;
  }
  100% {
    margin-top: 10px;
  }
}
.info-fresh .sparkle1 {
  top: 43px;
  left: -130px;
  width: 100px;
  height: 100px;
}
.info-fresh .sparkle2 {
  top: 103px;
  left: 550px;
  width: 80px;
  height: 80px;
}

.info-various {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 100px 0 0;
  max-width: none;
}
.info-various .info-various-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.info-various .various-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
  margin: 0 15px;
  color: #fff;
  border-radius: 20px;
  background-color: #E7F4D7;
  background-repeat: no-repeat;
  background-size: cover;
}
.info-various .txt-wrap {
  padding: 0 0 30px 30px;
}
.info-various .txt-wrap strong {
  font-size: 32px;
}
.info-various .txt-wrap p {
  padding-top: 3px;
  font-size: 16px;
}
.info-various .vb-1 {
  background-image: url(../../images/sub1/variouble_1.png);
}
.info-various .vb-2 {
  background-image: url(../../images/sub1/variouble_2.png);
}
.info-various .vb-3 {
  background-image: url(../../images/sub1/variouble_3.png);
}
.info-various .vb-0 {
  background-image: url(../../images/sub1/variouble_3.png);
}
.info-various .vb-4 {
  background-image: url(../../images/sub1/variouble_1.png);
}

.info-banner {
  margin: 200px 0 0 0;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url(../../images/sub1/sub1_banner.png);
}
.info-banner p {
  padding: 40px 0 60px;
  font-size: 60px;
  text-align: center;
  line-height: 75px;
}
.info-banner .info-btn a {
  display: block;
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 30px;
  border: 1px solid #E2E2E2;
  background: rgba(255, 255, 255, 0.8);
}

.service-info {
  padding-bottom: 0;
}
.service-info h2 {
  font-family: "Pretendard-Regular";
  font-size: 50px;
  text-align: center;
}
.service-info .search-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
  padding: 40px 0;
  background-color: #E7F4D7;
  border-radius: 10px;
}
.service-info .search-wrap h3 {
  padding: 0 0 30px 0;
  font-size: 28px;
}
.service-info .search-wrap .search-form {
  position: relative;
  width: 70%;
}
.service-info .search-wrap input {
  width: 100%;
  height: 50px;
  padding-left: 25px;
  border-radius: 100px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #777777;
  background-color: #fff;
  border: none;
}
.service-info .search-wrap input:focus {
  outline: none;
}
.service-info .search-wrap .icon-search {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 20px;
  height: 20px;
  background-image: url(../../images/sub2/icon_search-sub2.svg);
}
.service-info .search-wrap .search-word {
  display: flex;
  margin-top: 20px;
}
.service-info .search-wrap .search-word strong {
  margin-right: 36px;
  color: #2E7602;
}
.service-info .search-wrap .search-word .word-wrap {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
.service-info .search-wrap .search-word .word-wrap p {
  display: inline;
}
.service-info .service-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #232527;
  border-bottom: 2px solid #232527;
}
.service-info .service-wrap .service-number {
  padding: 40px 80px 40px 60px;
}
.service-info .service-wrap .service-number > p {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
}
.service-info .service-wrap .service-number img {
  padding-right: 10px;
}
.service-info .service-wrap .service-number strong {
  font-size: 40px;
}
.service-info .service-wrap .service-number .hours-info {
  margin-top: 15px;
}
.service-info .service-wrap .service-number .hours-info p {
  margin-top: 10px;
  color: #444444;
}
.service-info .service-wrap span {
  width: 1px;
  height: 230px;
  background-color: #E2E2E2;
}
.service-info .service-wrap .service-box {
  display: flex;
  -moz-column-gap: 26px;
       column-gap: 26px;
  padding: 40px 60px 40px 80px;
}
.service-info .service-wrap .service-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-info .service-wrap .service-box .infocircle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: #F5F5F5;
}
.service-info .service-wrap .service-box p {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}

.service-board h3 {
  padding: 0;
  font-size: 32px;
  text-align: left;
  font-weight: 400;
}
.service-board h3 span {
  color: #77B934;
}
.service-board .board-title,
.service-board .title-wrap,
.service-board .date-wrap {
  display: flex;
}
.service-board .board-title {
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-bottom: 30px;
}
.service-board .board-title a {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
}
.service-board .list-wrap {
  border-top: 2px solid #232527;
  border-bottom: 2px solid #232527;
}
.service-board .list-box {
  padding: 30px 60px;
  border-bottom: 1px solid #E2E2E2;
}
.service-board .list-box a {
  display: flex;
  justify-content: space-between;
}
.service-board .faq-board {
  margin-bottom: 100px;
}
.service-board .down-icon,
.service-board .goto-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.service-board .goto-icon {
  position: relative;
  top: -2px;
  width: 24px;
  height: 16px;
  background-image: url(../../images/sub2/icon_goto.png);
}
.service-board .down-icon {
  width: 16px;
  height: 24px;
  background-image: url(../../images/sub2/icon_down.png);
}
.service-board .title-wrap {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.service-board .date-wrap {
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-align: right;
  font-size: 14px;
  color: #777777;
}
.service-board .date-wrap p {
  display: inline;
}/*# sourceMappingURL=comm.css.map */